Repository jcowhigjr/yelp_search_demo: changes, and which lefthook commands are due for each by the changed paths.
All: js, rubocop

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
pre-push:
  pre-command: git stash
  commands:
    test-next:
      tags: backend
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup-next &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` HEADLESS=true CUPRITE=true APP_HOST='127.0.0.1' next rails test
    packages-audit:
      tags: frontend security
      run: yarn audit
    gems-audit:
      tags: backend security
      run: bundle audit update && bundle audit check
    javascript-audit:
      tags: frontend security
      run: yarn audit
    importmaps-audit:
      tags: frontend security
      run: bin/importmap audit
    rubocop:
      tags: backend style
      files: git diff --name-only master
      glob: '*.rb'
      run: bundle exec rubocop --force-exclusion -A {files}
    brakeman:
      tags: backend security
      run: bundle exec brakeman --no-pager
    rails-tests:
      tags: backend tests
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` CUPRITE=true bin/rails test:system

pre-commit:
  parallel: true
  commands:
    js:
      glob: '*.{js,ts}'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    rubocop:
      tags: backend style
      glob: '*.rb'
      exclude: 'application.rb|routes.rb'
      run: bundle exec rubocop --force-exclusion {all_files}
    erb-lint:
      tags: frontend style
      files: git diff --name-only master
      glob: '*.erb'
      run: bundle exec erblint --lint-all {staged_files}
    rails-tests:
      tags: backend tests
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` CUPRITE=true bin/rails test
fixer:
  parallel: true
  commands:
    ruby-fixer:
      run: bundle exec rubocop --force-exclusion -A {all_files}
    js-fixer:
      glob: 'app/javascript/**.{js,ts,jsx,tsx}'
      run: yarn prettier --write {all_files}
    ruby-prettier:
      glob: 'app/**/*.rb'
      run: bundle exec rbprettier --write {files}
    erblint:
      run: bundle exec erblint --autocorrect --lint-all {all_files}
    brakeman:
      # the pager was causing the tests to fail in parallel
      run: bundle exec brakeman --no-pager
    packages-audit:
      tags: frontend security
      run: yarn audit
    gems-audit:
      tags: backend security
      run: bundle audit update && bundle audit check
    next-test:
      tags: backend
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup-next &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` HEADLESS=true CUPRITE=true APP_HOST='127.0.0.1' next rails test:all
    i18n-tasks:
      run: bundle exec i18n-tasks health en missing unused ||
        bundle exec i18n-tasks normalize
    javascript-audit:
      tags: frontend security
      run: yarn upgrade
    importmaps-audit:
      tags: frontend security
      run: bin/importmap outdated
# scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run
#     "any.py":
#       runner: python
#     "any.rb":
#       runner: ruby
#     "any.sh":
#       runner: bash

Fix: Correctly pass argument to script in lefthook.yml
  lefthook.yml
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Update issue templates (#757)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Update agent.prompt.yml
  agent.prompt.yml
Due: none

Update agent.prompt.yml (#758)
  agent.prompt.yml
Due: none

Fix: Use 'git pull --ff' in workflow script to handle diverged develop
  workflow-new-feature.sh
Due: none

Fix: Use 'git pull --no-edit' to prevent editor prompt during merge
  agent.prompt.yml
  workflow-new-feature.sh
Due: none

feat: Add comprehensive GitHub issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/technical-debt.md
  .github/ISSUE_TEMPLATE/user-story.md
  docs/git-workflow.md
Due: none

Implement comprehensive agent coder workflow safeguards (#755)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/technical-debt.md
  .github/ISSUE_TEMPLATE/user-story.md
  README.md
  docs/agent-coder-workflow.md
  docs/git-workflow.md
  lefthook.yml
  test-protection.txt
  workflow-new-feature.sh
Due: none

feat: Implement /healthz endpoint for application monitoring
  Gemfile
  Gemfile.lock
  app/controllers/health_controller.rb
  config/routes.rb
  test/controllers/health_controller_test.rb
  test/test_helper.rb
Due: rubocop

ci: Add Heroku deployment verification step to workflow
  .github/workflows/main.yml
Due: none

chore: Update Gemfile.next.lock
  Gemfile.next.lock
Due: none

Potential fix for code scanning alert no. 13: Workflow does not contain permissions
  .github/workflows/main.yml
Due: none

feat: Implement health check endpoint and CI verification (#760)
  .github/workflows/main.yml
  Gemfile
  Gemfile.lock
  Gemfile.next.lock
  app/controllers/health_controller.rb
  config/routes.rb
  test/controllers/health_controller_test.rb
  test/test_helper.rb
Due: rubocop

Fix: Make Heroku health check non-blocking for develop branch
  .github/workflows/main.yml
Due: none

Fix: Make Heroku health check non-blocking for develop branch (#761)
  .github/workflows/main.yml
Due: none

Fix: Allow iframe embedding in dev and enhance footer language display
  app/views/layouts/_footer.html.erb
  config/environments/development.rb
Due: rubocop

feat: Standardize Tailwind CSS configuration
  Makefile
  app/views/layouts/application.html.erb
  config/tailwind.config.js
  test/system/tailwind_css_delivery_test.rb
Due: js, rubocop

feat: Standardize Tailwind CSS configuration
  app/views/layouts/application.html.erb
Due: none

feat: Standardize Tailwind CSS configuration
  config/application.rb
Due: none

feat: Standardize Tailwind CSS configuration
  config/puma.rb
Due: rubocop

feat: Standardize Tailwind CSS configuration
  Procfile.dev
Due: none

feat: Standardize Tailwind CSS configuration
  app/assets/tailwind/application.css
Due: none

feat: Standardize Tailwind CSS configuration
  config/tailwind.config.js
Due: js

feat: Add CSS compilation integration test
  test/integration/css_compilation_test.rb
Due: rubocop

fix: Correct regex in CSS compilation test
  test/integration/css_compilation_test.rb
Due: rubocop
