Repository jcowhigjr/yelp_search_demo: changes, and which lefthook commands are due for each by the changed paths.
All: js, rubocop

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
pre-push:
  pre-command: git stash
  commands:
    test-next:
      tags: backend
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup-next &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` HEADLESS=true CUPRITE=true APP_HOST='127.0.0.1' next rails test
    packages-audit:
      tags: frontend security
      run: yarn audit
    gems-audit:
      tags: backend security
      run: bundle audit update && bundle audit check
    javascript-audit:
      tags: frontend security
      run: yarn audit
    importmaps-audit:
      tags: frontend security
      run: bin/importmap audit
    rubocop:
      tags: backend style
      files: git diff --name-only master
      glob: '*.rb'
      run: bundle exec rubocop --force-exclusion -A {files}
    brakeman:
      tags: backend security
      run: bundle exec brakeman --no-pager
    rails-tests:
      tags: backend tests
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` CUPRITE=true bin/rails test:system

pre-commit:
  parallel: true
  commands:
    js:
      glob: '*.{js,ts}'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    rubocop:
      tags: backend style
      glob: '*.rb'
      exclude: 'application.rb|routes.rb'
      run: bundle exec rubocop --force-exclusion {all_files}
    erb-lint:
      tags: frontend style
      files: git diff --name-only master
      glob: '*.erb'
      run: bundle exec erblint --lint-all {staged_files}
    rails-tests:
      tags: backend tests
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` CUPRITE=true bin/rails test
fixer:
  parallel: true
  commands:
    ruby-fixer:
      run: bundle exec rubocop --force-exclusion -A {all_files}
    js-fixer:
      glob: 'app/javascript/**.{js,ts,jsx,tsx}'
      run: yarn prettier --write {all_files}
    ruby-prettier:
      glob: 'app/**/*.rb'
      run: bundle exec rbprettier --write {files}
    erblint:
      run: bundle exec erblint --autocorrect --lint-all {all_files}
    brakeman:
      # the pager was causing the tests to fail in parallel
      run: bundle exec brakeman --no-pager
    packages-audit:
      tags: frontend security
      run: yarn audit
    gems-audit:
      tags: backend security
      run: bundle audit update && bundle audit check
    next-test:
      tags: backend
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup-next &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` HEADLESS=true CUPRITE=true APP_HOST='127.0.0.1' next rails test:all
    i18n-tasks:
      run: bundle exec i18n-tasks health en missing unused ||
        bundle exec i18n-tasks normalize
    javascript-audit:
      tags: frontend security
      run: yarn upgrade
    importmaps-audit:
      tags: frontend security
      run: bin/importmap outdated
# scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run
#     "any.py":
#       runner: python
#     "any.rb":
#       runner: ruby
#     "any.sh":
#       runner: bash

[DRAFT] Fix #1137 (#1182)
  app/views/layouts/_footer.html.erb
  config/locales/th.yml
Due: none

Implement navbar language selector
  app/assets/stylesheets/navigation.css
  app/javascript/controllers/language_selector_controller.js
  app/views/layouts/_navbar.html.erb
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/pt-BR.yml
  config/locales/th.yml
Due: js

Add missing Thai navbar translations using i18n-tasks
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/pt-BR.yml
  config/locales/th.yml
Due: none

Add Thai locale support and i18n workflow documentation
  AGENTS.md
  Gemfile
  Gemfile.lock
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/pt-BR.yml
Due: none

Clean up technical debt: Document Rails 8.1 locale loading issue
  config/initializers/i18n.rb
  config/initializers/locale_loading_fix.rb
Due: rubocop

Document automated merge conflict marker detection
  AGENTS.md
Due: none

Add pre-push merge conflict detection guidelines
  AGENTS.md
Due: none

Add command hang prevention guidelines to AGENTS.md
  AGENTS.md
Due: none

Add aggressive timeouts to prevent hanging tests
  lefthook.yml
  test/application_system_test_case.rb
Due: rubocop

Add pre-commit hook to detect merge conflict markers
  lefthook.yml
Due: none

Add SKIP_SYSTEM_TESTS env var for network outages
  lefthook.yml
Due: none

Document timeout strategy in AGENTS.md
  AGENTS.md
Due: none

Add commit size validation to prevent oversized PRs
  AGENTS.md
  lefthook.yml
Due: none

Add requirement for @claude PR-issue alignment verification
  AGENTS.md
Due: none

Refine @claude review requirement to be async and complexity-based
  AGENTS.md
Due: none

Add automated PR status checking after push
  AGENTS.md
  scripts/check-pr-status.sh
Due: none

Add flaky test handling workflow to AGENTS.md
  AGENTS.md
Due: none

Add comprehensive temp file pattern examples to prevent PTY hangs
  AGENTS.md
  docs/review-first-autopilot.md
Due: none

Improve agent workflow reliability with timeouts and conflict detection (#1190)
  AGENTS.md
  Gemfile
  Gemfile.lock
  Gemfile.next.lock
  docs/review-first-autopilot.md
  lefthook.yml
  scripts/check-pr-status.sh
  test/application_system_test_case.rb
Due: rubocop

Resolve merge conflict in language selector controller
  app/javascript/controllers/language_selector_controller.js
Due: js

Fix Rails 8.1 locale loading regression
  config/initializers/i18n.rb
  config/initializers/locale_loading_fix.rb
Due: rubocop

Fix Rails 8.1 locale loading regression (#1193)
  config/initializers/i18n.rb
  config/initializers/locale_loading_fix.rb
Due: rubocop

Phase 2: Add navbar language selector with dropdown UI
  app/assets/stylesheets/navigation.css
  app/helpers/application_helper.rb
  app/javascript/controllers/language_selector_controller.js
  app/views/layouts/_navbar.html.erb
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/pt-BR.yml
Due: js, rubocop

Add Thai translations for language selector
  config/locales/th.yml
Due: none

Add documentation for inspecting preview deployments
  AGENTS.md
Due: none

Update check-pr-status.sh to show preview deployment URL
  scripts/check-pr-status.sh
Due: none

Update deployment timing to reflect actual 3-minute deployment time
  AGENTS.md
  scripts/check-pr-status.sh
Due: none

Fix: Make navbar with language selector visible to all users
  AGENTS.md
  app/views/layouts/application.html.erb
Due: none

Fix: Wrap user-specific nav items in logged_in? checks
  app/views/layouts/_navbar.html.erb
Due: none

Add shift-left UI verification to prevent invisible feature bugs
  AGENTS.md
Due: none

Add mandatory UI testing checklist before opening PRs
  AGENTS.md
Due: none

Fix: Increase theme button z-index to prevent navbar overlap
  app/views/layouts/application.html.erb
Due: none
