Repository jcowhigjr/yelp_search_demo: changes, and which lefthook commands are due for each by the changed paths.
All: js, rubocop

js:
  run: yarn prettier --write {staged_files} && git add {staged_files}

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

Add Dependabot configuration validation to prevent future issues
  lefthook.yml
  scripts/validate-dependabot.rb
Due: rubocop

Fix Dependabot configuration - remove duplicate sections (#1065)
  .github/dependabot.yml
  lefthook.yml
  scripts/validate-dependabot.rb
Due: rubocop

Fix Dependabot schema error - remove invalid update-type in allow section
  .github/dependabot.yml
Due: none

Add comprehensive Dependabot validation with official schema compliance
  lefthook.yml
  scripts/validate-dependabot-v2.rb
Due: rubocop

Fix Net::HTTP response handling in Dependabot validator
  scripts/validate-dependabot-v2.rb
Due: rubocop

Fix Dependabot configuration - remove duplicate sections (#1066)
  .github/dependabot.yml
  lefthook.yml
  scripts/validate-dependabot-v2.rb
Due: rubocop

Fix Dependabot CI integration issues
  .github/workflows/auto-approve.yml
  .github/workflows/dependabot.next.yml
  .github/workflows/main.yml
  fix-dependabot-ci-integration.md
Due: none

[SIMULATION] Task for backend on issue #1052
  .ai-task-backend-warp.txt
Due: none

[ai] Changes for backend on issue #1077
  docs/website-design-improvement/README.md
  docs/website-design-improvement/agents-playbook.md
  docs/website-design-improvement/ui-integration-subissues.md
Due: none

[ai] Changes for backend on issue #1078
  app/assets/stylesheets/navigation.css
  app/views/layouts/_footer.html.erb
Due: none

Fix Dependabot CI integration issues (#1072)
  .ai-task-backend-warp.txt
  .github/workflows/auto-approve.yml
  .github/workflows/dependabot.next.yml
  .github/workflows/main.yml
  fix-dependabot-ci-integration.md
Due: none

[ai] Changes for backend on issue #1077
  app/assets/stylesheets/coffeeshop-card.css
  app/assets/stylesheets/search-bar.css
Due: none

[ai] Changes for backend on issue #1078
  app/assets/stylesheets/application.css
  app/views/layouts/_footer.html.erb
Due: none

Fix: Remove salmon color from language navigation in footer
  app/assets/stylesheets/application.css
  app/views/layouts/_footer.html.erb
Due: none

Fix CSS import order issue - move html selector after @import statements
  app/assets/stylesheets/application.css
  app/views/layouts/_footer.html.erb
Due: none

Fix: Remove salmon color from language navigation in footer (#1089)
  app/assets/stylesheets/application.css
  app/views/layouts/_footer.html.erb
Due: none

[ai] Changes for backend on issue #1077
  app/assets/stylesheets/application.css
  app/assets/stylesheets/coffeeshop-card.css
  app/views/coffeeshops/_coffeeshop_card.html.erb
Due: none

Fix CSS syntax issues and import order
  app/assets/stylesheets/application.css
Due: none

[ai] Changes for backend on issue #1077
  app/assets/stylesheets/application.css
  app/assets/stylesheets/coffeeshop-card.css
  app/assets/stylesheets/search-bar.css
Due: none

[DRAFT] Fix #1077 (#1090)
  app/assets/stylesheets/application.css
  app/assets/stylesheets/coffeeshop-card.css
  app/views/coffeeshops/_coffeeshop_card.html.erb
Due: none

[ai] Changes for backend on issue #1096
  docs/e2e-language-switcher-tests.md
  package.json
  test/e2e/README.md
  test/e2e/language-switcher.test.js
Due: js

[ai] Changes for backend on issue #1095
  test/integration/switch_locale_test.rb
  test/system/locales_test.rb
Due: rubocop

[ai] Changes for backend on issue #1093
  app/assets/stylesheets/navigation.css
  app/javascript/controllers/dropdown_controller.js
  app/views/layouts/_footer.html.erb
  app/views/layouts/_language_selector.html.erb
  app/views/layouts/application.html.erb
Due: js

[ai] Changes for backend on issue #1095 (#1098)
  test/integration/switch_locale_test.rb
  test/system/locales_test.rb
Due: rubocop

[ai] Changes for backend on issue #1096 (#1097)
  docs/e2e-language-switcher-tests.md
  package.json
  test/e2e/README.md
  test/e2e/language-switcher.test.js
Due: js

Path conditions:
  js: any of: *.{js,ts}
  rubocop: any of: *.rb, but not: application.rb|routes.rb
