Repository jcowhigjr/yelp_search_demo: changes, and which lefthook commands are due for each by the changed paths.
All: js, rubocop

js:
  run: yarn prettier --write {staged_files} && git add {staged_files}

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

fix: remove duplicate workflow triggers to prevent duplicate job runs (#1341)
  .github/workflows/main.yml
  test-duplicate-workflows.md
Due: none

test: verify single workflow run after fix
  test-single-run.md
Due: none

Improve geolocation button styling
  app/assets/stylesheets/search-bar.css
  app/views/searches/_form.html.erb
Due: none

Fix ERB linting issues
  app/views/coffeeshops/_coffeeshop.html.erb
  app/views/coffeeshops/_coffeeshop_card.html.erb
  app/views/coffeeshops/_rating.html.erb
  app/views/coffeeshops/show.html.erb
  app/views/favorites/_button.html.erb
  app/views/layouts/_footer.html.erb
  app/views/layouts/_navbar.html.erb
  app/views/layouts/application.html.erb
  app/views/reviews/_edit_frame.html.erb
  app/views/reviews/_rating_stars.html.erb
  app/views/searches/_form.html.erb
  app/views/searches/_results.html.erb
  app/views/sessions/new.html.erb
  app/views/users/new.html.erb
  app/views/users/show.html.erb
Due: none

[ai] Changes for coder on issue #1232
  lib/jitter/version.rb
Due: rubocop

[ai] Changes for coder on issue #1232
  lib/jitter/version.rb
  test/initializers/app_version_test.rb
Due: rubocop

[ai] Changes for coder on issue #1232
  VERSION
  lib/jitter/version.rb
  test/initializers/app_version_test.rb
Due: rubocop

Add CI-style test helper and drop local env
  .env.local
  README.md
  scripts/ci-test-all.sh
Due: none

Add CI-style test helper and drop local env (#1348)
  .env.local
  README.md
  scripts/ci-test-all.sh
Due: none

Fix geolocation controller - remove hardcoded coordinates and improve error handling
  app/javascript/controllers/geolocation_controller.js
Due: js

Fix Rubocop offenses in app_version_test.rb
  test/initializers/app_version_test.rb
Due: rubocop

Improve geolocation button styling (#1343)
  app/assets/stylesheets/search-bar.css
  app/views/coffeeshops/_coffeeshop.html.erb
  app/views/coffeeshops/_coffeeshop_card.html.erb
  app/views/coffeeshops/_rating.html.erb
  app/views/coffeeshops/show.html.erb
  app/views/favorites/_button.html.erb
  app/views/layouts/_footer.html.erb
  app/views/layouts/_navbar.html.erb
  app/views/layouts/application.html.erb
  app/views/reviews/_edit_frame.html.erb
  app/views/reviews/_rating_stars.html.erb
  app/views/searches/_form.html.erb
  app/views/searches/_results.html.erb
  app/views/sessions/new.html.erb
  app/views/users/new.html.erb
  app/views/users/show.html.erb
Due: none

Fix geolocation controller - remove hardcoded coordinates and improve error handling (#1350)
  app/javascript/controllers/geolocation_controller.js
Due: js

Improve geolocation controller to handle permission states and re-requests
  app/javascript/controllers/geolocation_controller.js
Due: js

Fix/geolocation controller (#1356)
  app/javascript/controllers/geolocation_controller.js
Due: js

Add Codex setup parity with CI
  .gitignore
  .project/config/codex.yml
  docs/codex-setup.md
Due: none

Add mise verification to Codex setup
  .project/config/codex.yml
  docs/codex-setup.md
Due: none

Add Codex setup parity with CI (#1357)
  .gitignore
  .project/config/codex.yml
  docs/codex-setup.md
Due: none

Clarify Codex setup trigger
  .gitignore
  .project/config/codex.yml
  docs/codex-setup.md
Due: none

Skip forcing mise all_compile in Codex
  bin/setup-environment.sh
Due: none

Clarify Codex setup trigger (#1358)
  .project/config/codex.yml
  docs/codex-setup.md
Due: none

Skip forcing mise all_compile in Codex (#1359)
  bin/setup-environment.sh
Due: none

Path conditions:
  js: any of: *.{js,ts}
  rubocop: any of: *.rb, but not: application.rb|routes.rb
