Repository jcowhigjr/yelp_search_demo: changes, and which lefthook commands are due for each by the changed paths.
All: js, rubocop

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
pre-push:
  pre-command: git stash
  commands:
    test-next:
      tags: backend
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup-next &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` HEADLESS=true CUPRITE=true APP_HOST='127.0.0.1' next rails test
    packages-audit:
      tags: frontend security
      run: yarn audit
    gems-audit:
      tags: backend security
      run: bundle audit update && bundle audit check
    javascript-audit:
      tags: frontend security
      run: yarn audit
    importmaps-audit:
      tags: frontend security
      run: bin/importmap audit
    rubocop:
      tags: backend style
      files: git diff --name-only master
      glob: '*.rb'
      run: bundle exec rubocop --force-exclusion -A {files}
    brakeman:
      tags: backend security
      run: bundle exec brakeman --no-pager
    rails-tests:
      tags: backend tests
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` CUPRITE=true bin/rails test:system

pre-commit:
  parallel: true
  commands:
    js:
      glob: '*.{js,ts}'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    rubocop:
      tags: backend style
      glob: '*.rb'
      exclude: 'application.rb|routes.rb'
      run: bundle exec rubocop --force-exclusion {all_files}
    erb-lint:
      tags: frontend style
      files: git diff --name-only master
      glob: '*.erb'
      run: bundle exec erblint --lint-all {staged_files}
    rails-tests:
      tags: backend tests
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` CUPRITE=true bin/rails test
fixer:
  parallel: true
  commands:
    ruby-fixer:
      run: bundle exec rubocop --force-exclusion -A {all_files}
    js-fixer:
      glob: 'app/javascript/**.{js,ts,jsx,tsx}'
      run: yarn prettier --write {all_files}
    ruby-prettier:
      glob: 'app/**/*.rb'
      run: bundle exec rbprettier --write {files}
    erblint:
      run: bundle exec erblint --autocorrect --lint-all {all_files}
    brakeman:
      # the pager was causing the tests to fail in parallel
      run: bundle exec brakeman --no-pager
    packages-audit:
      tags: frontend security
      run: yarn audit
    gems-audit:
      tags: backend security
      run: bundle audit update && bundle audit check
    next-test:
      tags: backend
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup-next &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` HEADLESS=true CUPRITE=true APP_HOST='127.0.0.1' next rails test:all
    i18n-tasks:
      run: bundle exec i18n-tasks health en missing unused ||
        bundle exec i18n-tasks normalize
    javascript-audit:
      tags: frontend security
      run: yarn upgrade
    importmaps-audit:
      tags: frontend security
      run: bin/importmap outdated
# scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run
#     "any.py":
#       runner: python
#     "any.rb":
#       runner: ruby
#     "any.sh":
#       runner: bash

Update .github/workflows/auto-approve.yml
  .github/workflows/auto-approve.yml
Due: none

Enable Dependabot auto-merge for safe updates (#848)
  .github/dependabot.yml
  .github/workflows/auto-approve.yml
Due: none

Clean up: remove deprecated auto-update scripts
  .github/workflows/auto-update-prs.yml
  poll-pr-status.js
Due: js

Fix Dependabot schema validation: use update-types instead of update-type
  .github/dependabot.yml
Due: none

Fix Dependabot schema validation: use update-types instead of update-type (#850)
  .github/dependabot.yml
Due: none

Fix auto-approve workflow git repository error
  .github/workflows/auto-approve.yml
Due: none

Fix/dependabot update types schema (#851)
  .github/workflows/auto-approve.yml
Due: none

Fix Dependabot allow section schema validation
  .github/dependabot.yml
Due: none

Update .github/dependabot.yml
  .github/dependabot.yml
Due: none

Fix Dependabot allow section schema validation (#852)
  .github/dependabot.yml
Due: none

Update db/seeds.rb
  db/seeds.rb
Due: rubocop

ci: auto-approve all Dependabot PRs and enable auto-merge (squash) after checks pass
  .github/workflows/auto-approve.yml
Due: none

chore: weekly dependabot with grouped updates + auto-refresh stale PRs; ensure lefthook available and setup resilient
  .github/dependabot.yml
  .github/workflows/dependabot-refresh.yml
  Gemfile
  bin/setup
Due: none

Update rexml
  Gemfile.lock
Due: none

docs: add Dependabot automation guide and update dev dependencies
  Gemfile.lock
  docs/AGENTS.md
Due: none

Enable Dependabot auto-merge + weekly grouped updates + stale PR refresh (#872)
  .github/dependabot.yml
  .github/workflows/auto-approve.yml
  .github/workflows/dependabot-refresh.yml
  Gemfile
  Gemfile.lock
  bin/setup
  docs/AGENTS.md
Due: none

Rails 8.1 Upgrade – PR1: bump Gemfile rails constraint to '~> 8.1' (constraints only)
  Gemfile
Due: none

Rails 8.1 Upgrade – PR1: allow 8.1 pre-release, update lock (bundle install)
  Gemfile
  Gemfile.lock
Due: none

CI: fix system test task – pass env vars before command (HEADLESS/CUPRITE/APP_HOST)
  mise.toml
Due: none

Rails 8.1 Upgrade – PR1: constraints only (pre-release allowed) (#874)
  Gemfile
  Gemfile.lock
  mise.toml
Due: none

Rails 8.1 Upgrade – PR2: add conservative defaults initializer (no behavior flips)
  config/initializers/new_framework_defaults_8_1.rb
Due: rubocop

Rails 8.1 Upgrade – PR2: add conservative defaults initializer (no behavior flips) (#875)
  config/initializers/new_framework_defaults_8_1.rb
Due: rubocop

Resolve conflicts: rebase on develop and reapply PR3 safe defaults (render_tracker, remove_hidden_field_autocomplete)
  config/initializers/new_framework_defaults_8_1.rb
Due: rubocop

test: ensure assets build path and fallback in test to avoid tailwind.css load errors
  config/environments/test.rb
Due: rubocop

Update config/environments/test.rb
  config/environments/test.rb
Due: rubocop
