Repository jcowhigjr/yelp_search_demo: changes, and which lefthook commands are due for each by the changed paths.
All: js, rubocop

js:
  run: yarn prettier --write {staged_files} && git add {staged_files}

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

Improve .gitignore (#830)
  .gitignore
Due: none

Bump gem versions for next
  Gemfile.next.lock
Due: none

Bump gem versions
  Gemfile.lock
Due: none

Bump gem versions (#837)
  Gemfile.lock
  Gemfile.next.lock
Due: none

Fix Tailwind CSS race condition in CI tests
  mise.toml
Due: none

Fix Tailwind CSS race condition in CI tests (#839)
  mise.toml
Due: none

feat: implement dynamic search form with contextual icons
  IMPLEMENTATION_SUMMARY.md
  app/assets/stylesheets/searches.scss
  app/helpers/favorites_helper.rb
  app/javascript/controllers/search_controller.js
  app/javascript/iconMapper.js
  app/javascript/iconMapperExample.js
  app/views/searches/_favorites_demo.html.erb
  app/views/searches/_form.html.erb
  config/importmap.rb
  test/helpers/favorites_helper_test.rb
  test/javascript/search_controller_test.js
  test/system/favorites_integration_test.rb
Due: js, rubocop

Fix system test: Remove helper include, focus on full stack behavior
  test/system/favorites_integration_test.rb
Due: rubocop

Implement Turbo Frame favorite toggle with contextual icons
  app/assets/stylesheets/application.css
  app/controllers/favorites_controller.rb
  app/helpers/favorites_helper.rb
  app/models/user.rb
  app/views/coffeeshops/_coffeeshop.html.erb
  app/views/favorites/_button.html.erb
  app/views/favorites/create.turbo_stream.erb
  app/views/favorites/destroy.turbo_stream.erb
  app/views/searches/_results.html.erb
  config/routes.rb
  test/application_system_test_case.rb
  test/support/yelp_api_helper.rb
  test/system/debug_favorite_test.rb
  test/system/favorite_toggle_test.rb
  test/system/simple_favorite_test.rb
Due: rubocop

Fix rubocop offenses - automatic corrections applied
  app/helpers/favorites_helper.rb
  app/models/user.rb
  app/views/searches/_results.html.erb
  lib/cli_error_handler.rb
  test/support/yelp_api_helper.rb
  test/system/debug_favorite_test.rb
  test/system/favorite_toggle_test.rb
  test/system/simple_favorite_test.rb
  test/test_helper.rb
Due: rubocop

Fix system test failures for favorite toggle functionality
  app/views/favorites/create.turbo_stream.erb
  app/views/favorites/destroy.turbo_stream.erb
  test/system/favorite_toggle_test.rb
  test/system/simple_favorite_test.rb
Due: rubocop

Fix CLI error handler regression - remove Rails dependencies
  lib/cli_error_handler.rb
Due: rubocop

Potential fix for code scanning alert no. 16: Incomplete URL substring sanitization
  lib/cli_error_handler.rb
Due: rubocop

Remove CLI error handler security vulnerability
  lefthook.yml
Due: none

Clean up system tests and fix APP_HOST configuration
  bin/cli-error-handler
  config/environments/test.rb
  lefthook.yml
  lib/cli_error_handler.rb
  test/application_system_test_case.rb
  test/support/system_test_helpers.rb
  test/system/debug_favorite_test.rb
  test/system/simple_favorite_test.rb
Due: rubocop

Update test/test_helper.rb
  test/test_helper.rb
Due: rubocop

Update app/controllers/favorites_controller.rb
  app/controllers/favorites_controller.rb
Due: rubocop

Update app/helpers/favorites_helper.rb
  app/helpers/favorites_helper.rb
Due: rubocop

Update test/system/simple_favorite_test.rb
  test/system/simple_favorite_test.rb
Due: rubocop

Fix favorite toggle system tests and CLI error handler regression (#842)
  app/assets/stylesheets/application.css
  app/controllers/favorites_controller.rb
  app/helpers/favorites_helper.rb
  app/models/user.rb
  app/views/coffeeshops/_coffeeshop.html.erb
  app/views/favorites/_button.html.erb
  app/views/favorites/create.turbo_stream.erb
  app/views/favorites/destroy.turbo_stream.erb
  app/views/searches/_results.html.erb
  bin/cli-error-handler
  config/environments/test.rb
  config/routes.rb
  lefthook.yml
  lib/cli_error_handler.rb
  test/application_system_test_case.rb
  test/support/system_test_helpers.rb
  test/support/yelp_api_helper.rb
  test/system/debug_favorite_test.rb
  test/system/favorite_toggle_test.rb
  test/system/simple_favorite_test.rb
  test/test_helper.rb
Due: rubocop

feat(seeds): Overhaul seed data to use Yelp API
  db/seeds.rb
  test/fixtures/searches.yml
Due: rubocop

feat(api): Implement caching for Yelp API requests
  app/models/coffeeshop.rb
Due: rubocop

test(caching): Add test for Yelp API caching
  test/models/coffeeshop_test.rb
  test/test_helper.rb
Due: rubocop

feat(seeds): Overhaul seed data to use Yelp API
  db/seeds.rb
  test/fixtures/coffeeshops.yml
  test/fixtures/searches.yml
Due: rubocop

perf(api): Implement caching for Yelp API requests
  app/models/coffeeshop.rb
Due: rubocop

test(caching): Add test for Yelp API caching
  test/models/coffeeshop_test.rb
Due: rubocop

docs(readme): Update README with new seeding instructions
  README.md
Due: none

fix(fixtures): Add backward-compatible fixtures to searches.yml
  test/fixtures/searches.yml
Due: none

feat: Enable Dependabot auto-merge
  .github/dependabot.yml
  .github/workflows/auto-approve.yml
Due: none

fix: Use recommended major version tag for dependabot/fetch-metadata
  .github/workflows/auto-approve.yml
Due: none

security: Use pull_request instead of pull_request_target
  .github/workflows/auto-approve.yml
Due: none

Update .github/workflows/auto-approve.yml
  .github/workflows/auto-approve.yml
Due: none

Path conditions:
  js: any of: *.{js,ts}
  rubocop: any of: *.rb, but not: application.rb|routes.rb
