Repository jcowhigjr/yelp_search_demo: changes, and which lefthook commands are due for each by the changed paths.
All: js, rubocop

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
pre-push:
  pre-command: git stash
  commands:
    test-next:
      tags: backend
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup-next &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` HEADLESS=true CUPRITE=true APP_HOST='127.0.0.1' next rails test
    packages-audit:
      tags: frontend security
      run: yarn audit
    gems-audit:
      tags: backend security
      run: bundle audit update && bundle audit check
    javascript-audit:
      tags: frontend security
      run: yarn audit
    importmaps-audit:
      tags: frontend security
      run: bin/importmap audit
    rubocop:
      tags: backend style
      files: git diff --name-only master
      glob: '*.rb'
      run: bundle exec rubocop --force-exclusion -A {files}
    brakeman:
      tags: backend security
      run: bundle exec brakeman --no-pager
    rails-tests:
      tags: backend tests
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` CUPRITE=true bin/rails test:system

pre-commit:
  parallel: true
  commands:
    js:
      glob: '*.{js,ts}'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    rubocop:
      tags: backend style
      glob: '*.rb'
      exclude: 'application.rb|routes.rb'
      run: bundle exec rubocop --force-exclusion {all_files}
    erb-lint:
      tags: frontend style
      files: git diff --name-only master
      glob: '*.erb'
      run: bundle exec erblint --lint-all {staged_files}
    rails-tests:
      tags: backend tests
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` CUPRITE=true bin/rails test
fixer:
  parallel: true
  commands:
    ruby-fixer:
      run: bundle exec rubocop --force-exclusion -A {all_files}
    js-fixer:
      glob: 'app/javascript/**.{js,ts,jsx,tsx}'
      run: yarn prettier --write {all_files}
    ruby-prettier:
      glob: 'app/**/*.rb'
      run: bundle exec rbprettier --write {files}
    erblint:
      run: bundle exec erblint --autocorrect --lint-all {all_files}
    brakeman:
      # the pager was causing the tests to fail in parallel
      run: bundle exec brakeman --no-pager
    packages-audit:
      tags: frontend security
      run: yarn audit
    gems-audit:
      tags: backend security
      run: bundle audit update && bundle audit check
    next-test:
      tags: backend
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup-next &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` HEADLESS=true CUPRITE=true APP_HOST='127.0.0.1' next rails test:all
    i18n-tasks:
      run: bundle exec i18n-tasks health en missing unused ||
        bundle exec i18n-tasks normalize
    javascript-audit:
      tags: frontend security
      run: yarn upgrade
    importmaps-audit:
      tags: frontend security
      run: bin/importmap outdated
# scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run
#     "any.py":
#       runner: python
#     "any.rb":
#       runner: ruby
#     "any.sh":
#       runner: bash

upgrades tailwind rails to v3 (#667)
  .vscode/launch.json
  Gemfile
  Gemfile.lock
  Gemfile.next.lock
  Procfile.dev
  app/views/layouts/application.html.erb
  bin/dev
Due: none

run the workflow on push to develop after merged PR
  .github/workflows/main.yml
Due: none

rails change to bin/setup requires a flag, this breaks preview instances on heroku
  app.json
Due: none

trying to fix postgres on heroku
  app.json
Due: none

run the workflow on push to develop after merged PR (#668)
  .github/workflows/main.yml
  app.json
Due: none

Remove .bundle/config and ensure vendor/bundle is ignored
  .gitignore
  vendor/.keep
  vendor/javascript/.keep
Due: none

Remove .bundle/config and ensure vendor/bundle is ignored (#670)
  .gitignore
  vendor/.keep
  vendor/javascript/.keep
Due: none

remove the deploy in favor of heroku dashboard deploy
  .github/workflows/main.yml
Due: none

feature/use heroku builtin deploy (#671)
  .github/workflows/main.yml
Due: none

Update locales and routes
  app/controllers/concerns/locales.rb
  config/initializers/i18n.rb
  config/locales/en.yml
  test/system/locales_test.rb
Due: rubocop

changes the text of the placholder
  config/locales/es.yml
  config/locales/fr.yml
Due: none

Potential fix for code scanning alert no. 9: Incomplete URL substring sanitization
  test/test_helper.rb
Due: rubocop

Potential fix for code scanning alert no. 9: Incomplete URL substring sanitization (#673)
  test/test_helper.rb
Due: rubocop

Potential fix for code scanning alert no. 8: Incomplete URL substring sanitization
  test/system/system_helper.rb
Due: rubocop

Potential fix for code scanning alert no. 8: Incomplete URL substring sanitization (#674)
  test/system/system_helper.rb
Due: rubocop

feature/fix translation seach bug (#672)
  app/controllers/concerns/locales.rb
  config/initializers/i18n.rb
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  test/system/locales_test.rb
Due: rubocop

update tailwindcss
  .vscode/settings.json
  app/assets/tailwind/application.css
  config/tailwind.config.js
  package-lock.json
  package.json
  yarn.lock
Due: js

Fix failing tests: Remove reference to inter-font.css
  app/views/layouts/application.html.erb
Due: none

Fix search test to expect /searches/:id path
  config/initializers/debug_load_order.rb
  test/system/searches_test.rb
Due: rubocop

Update test/system/searches_test.rb
  test/system/searches_test.rb
Due: rubocop

Apply suggestions from code review
  test/system/searches_test.rb
Due: rubocop

Refactor search test with constant for selectors
  test/system/searches_test.rb
Due: rubocop

Fix search test to expect /searches/:id path (#741)
  config/initializers/debug_load_order.rb
  test/system/searches_test.rb
Due: rubocop

Potential fix for code scanning alert no. 11: Workflow does not contain permissions
  .github/workflows/setup-environment.yml
Due: none

Update Gemfile
  Gemfile
Due: none
