Repository jcowhigjr/yelp_search_demo: changes, and which lefthook commands are due for each by the changed paths.
All: js, rubocop

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
pre-push:
  pre-command: git stash
  commands:
    test-next:
      tags: backend
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup-next &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` HEADLESS=true CUPRITE=true APP_HOST='127.0.0.1' next rails test
    packages-audit:
      tags: frontend security
      run: yarn audit
    gems-audit:
      tags: backend security
      run: bundle audit update && bundle audit check
    javascript-audit:
      tags: frontend security
      run: yarn audit
    importmaps-audit:
      tags: frontend security
      run: bin/importmap audit
    rubocop:
      tags: backend style
      files: git diff --name-only master
      glob: '*.rb'
      run: bundle exec rubocop --force-exclusion -A {files}
    brakeman:
      tags: backend security
      run: bundle exec brakeman --no-pager
    rails-tests:
      tags: backend tests
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` CUPRITE=true bin/rails test:system

pre-commit:
  parallel: true
  commands:
    js:
      glob: '*.{js,ts}'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    rubocop:
      tags: backend style
      glob: '*.rb'
      exclude: 'application.rb|routes.rb'
      run: bundle exec rubocop --force-exclusion {all_files}
    erb-lint:
      tags: frontend style
      files: git diff --name-only master
      glob: '*.erb'
      run: bundle exec erblint --lint-all {staged_files}
    rails-tests:
      tags: backend tests
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` CUPRITE=true bin/rails test
fixer:
  parallel: true
  commands:
    ruby-fixer:
      run: bundle exec rubocop --force-exclusion -A {all_files}
    js-fixer:
      glob: 'app/javascript/**.{js,ts,jsx,tsx}'
      run: yarn prettier --write {all_files}
    ruby-prettier:
      glob: 'app/**/*.rb'
      run: bundle exec rbprettier --write {files}
    erblint:
      run: bundle exec erblint --autocorrect --lint-all {all_files}
    brakeman:
      # the pager was causing the tests to fail in parallel
      run: bundle exec brakeman --no-pager
    packages-audit:
      tags: frontend security
      run: yarn audit
    gems-audit:
      tags: backend security
      run: bundle audit update && bundle audit check
    next-test:
      tags: backend
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup-next &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` HEADLESS=true CUPRITE=true APP_HOST='127.0.0.1' next rails test:all
    i18n-tasks:
      run: bundle exec i18n-tasks health en missing unused ||
        bundle exec i18n-tasks normalize
    javascript-audit:
      tags: frontend security
      run: yarn upgrade
    importmaps-audit:
      tags: frontend security
      run: bin/importmap outdated
# scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run
#     "any.py":
#       runner: python
#     "any.rb":
#       runner: ruby
#     "any.sh":
#       runner: bash

try a different maintained yaml-lint
  Gemfile
  Gemfile.lock
  Gemfile.next.lock
  lefthook.yml
Due: none

better globbing for yaml-lint
  lefthook.yml
Due: none

cleanup
  lefthook.yml
  system-test-log.log
Due: none

updating gems
  Gemfile.lock
  Gemfile.next.lock
Due: none

Committing changes
  -i
  .tool-versions
  app/assets/stylesheets/application.css
  app/views/layouts/application.html.erb
  mise.toml
  test/.DS_Store
  test/system/system_helper.rb
  test/test_helper.rb
  test/views/searches/.DS_Store
  touch
Due: rubocop

updated ruby and gems
  .vscode/settings.json
  .yarn/install-state.gz
  .yarnrc.yml
  Gemfile
  Gemfile.lock
  Gemfile.next.lock
  config/application.rb
  package-lock.json
  package.json
  yarn.lock
Due: none

added mise and rubocop updates
  .rubocop.yml
  .tool-versions
  Gemfile.lock
  aptfile
  config/application.rb
  mise.toml
Due: none

Fix Lefthook issues and ensure pre-commit hook passes.
  Gemfile
  lefthook.yml
  yarn.lock
Due: none

Committing changes with Ruby 3.3.6 while resolving Ruby 3.4.1 issues.
  .tool-versions
  Gemfile.next.lock
  mise.toml
Due: none

try to use just yarn instead of node
  .node-version
  .tool-versions
  Brewfile
  mise.toml
Due: none

i think node is needed to use yarn prettier command
  .yarn/install-state.gz
  Brewfile
  lefthook.yml
  mise.toml
  package-lock.json
  package.json
  yarn.lock
Due: none

wording change
  lefthook.yml
Due: none

prettier linting of javascript
  .prettierrc.json
  app/javascript/application.js
  app/javascript/channels/consumer.js
  app/javascript/channels/index.js
  app/javascript/controllers/application.js
  app/javascript/controllers/geolocation_controller.js
  app/javascript/controllers/hello_controller.js
  app/javascript/controllers/index.js
  package-lock.json
Due: js

updated connection pool gem, cleanup of skipped tests and comments, fixed assertion warnings
  .rubocop_todo.yml
  Gemfile.lock
  package-lock.json
  test/controllers/coffeeshops_controller/test_routes.rb
  test/controllers/coffeeshops_controller_test.rb
  test/controllers/reviews/test_routes.rb
  test/controllers/reviews_controller_test.rb
  test/controllers/searches_controller_test.rb
  test/controllers/sessions_controller_test.rb
  test/controllers/static_controller_test.rb
  test/controllers/user_favorites_controller_test.rb
  test/controllers/users/reviews_controller_test.rb
  test/controllers/users_controller_test.rb
  test/integration/layouts_test.rb
  test/integration/switch_locale_test.rb
  test/system/basics_test.rb
  test/system/reviews_test.rb
  test/system/users_test.rb
Due: rubocop

Update setup scripts and remove obsolete files
  bin/install-ruby
  bin/latest-ruby.sh
  bin/setup-environment.sh
Due: none

connection pool update
  Gemfile.next.lock
Due: none

Fix naming conventions and syntax issues in test files
  .env.test.local
  Guardfile
  app/controllers/sessions_controller.rb
  tash show -p stash@{0}
  test/controllers/sessions_controller_test.rb
  test/system/enabled_features_test.rb
  test/system/users_test.rb
  test/system/users_test_fixed.rb
  test/system/users_test_modified.rb
Due: rubocop

various fixes
  .editorconfig
  .prettierrc.json
  .vscode/settings.json
  .yarn/install-state.gz
  DevNotes.md
  README.md
  Resources.md
  app/assets/stylesheets/static.scss
  bin/setup-environment.sh
  ideas.md
  lefthook.yml
  package-lock.json
  package.json
  yarn.lock
Due: none

Run Rails tests and address SQLite warnings
  Gemfile
  Gemfile.lock
  bin/setup-agent0
  close_connections.rb
  spec/sample_spec.rb
Due: rubocop

fix: standardize i18n interpolation syntax and add missing translations
  Gemfile
  Gemfile.lock
  app/views/layouts/application.turbo_stream.erb
  app/views/reviews/create.turbo_stream.erb
  bin/setup-environment.sh
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/pt-BR.yml
  db/schema.rb
  lefthook.yml
  spec/sample_spec.rb
  test/system/coffeeshops_test.rb
  test/system/sessions/logout_test.rb
  test/system/users_test.rb
Due: rubocop

Fix test failures and improve code quality
  config/locales/en.yml
  test/application_system_test_case.rb
  test/system/coffeeshops_test.rb
  test/system/navigation_test.rb
  test/system/reviews_test.rb
  test/system/sessions/logout_test.rb
  test/system/users_test.rb
Due: rubocop

Update pre-push hook and coffeeshop view
  app/views/coffeeshops/show.html.erb
  lefthook.yml
Due: none

Fix RuboCop offenses in system tests
  test/system/coffeeshops_test.rb
  test/system/reviews_test.rb
  test/system/users_test.rb
Due: rubocop

Remove stray file named -i
  -i
Due: none

fixed some things broke some things
  .env.development
  .env.test.local
  .vscode/launch.json
  Gemfile
  Gemfile.lock
  Gemfile.next.lock
  Guardfile
  Procfile.dev
  app/controllers/sessions_controller.rb
  app/views/layouts/application.html.erb
  app/views/users/new.html.erb
  lefthook.yml
  test/controllers/reviews_controller_test.rb
  test/models/search_test.rb
  test/system/coffeeshops_test.rb
  test/system/reviews_test.rb
  test/system/sessions/login_test.rb
  test/system/sessions/logout_test.rb
  test/system/users_test.rb
  test/system/users_test_fixed.rb
  test/system/users_test_modified.rb
  yarn.lock
Due: rubocop

almost working
  .vscode/launch.json
  .yarn/install-state.gz
  Gemfile.lock
  app/views/layouts/application.html.erb
  app/views/users/new.html.erb
  config/locales/en.yml
  eslint.config.mjs
  lefthook.yml
  package.json
  test/controllers/sessions_controller_test.rb
  test/system/coffeeshops_test.rb
  test/system/sessions/login_test.rb
  test/system/sessions/logout_test.rb
  yarn.lock
Due: rubocop

Run system tests successfully with no failures
  Gemfile.next.lock
  mise.toml
Due: none

upgrade Gemfile.lock
  .yarn/install-state.gz
  Gemfile.lock
Due: none

Fix warnings and update dependencies
  package-lock.json
  package.json
  yarn.lock
Due: none

fixes dependencies
  .yarn/install-state.gz
  aptfile
  bin/setup-environment.sh
  yarn.lock
Due: none

test: fix system tests for reviews and coffeeshops
  DevNotes.md
  Gemfile
  Gemfile.lock
  app/views/coffeeshops/index.html.erb
  bin/setup-environment.sh
  config/spring.rb
  package-lock.json
  package.json
  prompt_constraints.txt
  test/models/user_favorite_test.rb
  test/system/.keep
  test/system/broadcasts_test.rb
  test/system/coffeeshops_test.rb
  test/system/disabled_features_test.rb
  test/system/enabled_features_test.rb
  test/system/locales_test.rb
  test/system/navigation_test.rb
  test/system/reviews_test.rb
  test/system/searches_test.rb
  test/system/sessions/login_test.rb
  test/system/sessions/logout_test.rb
  test/system/system_helper.rb
  test/system/users_test.rb
  update_driver_configuration.rb
  yarn.lock
Due: rubocop

fixes from the lefthook js audit
  .gitignore
  .yarn/install-state.gz
  yarn.lock
Due: none

Update test file with click_button method and resolve unstaged changes issue.
  bin/setup
Due: none

fix: improve Turbo-aware system tests for review management
  .DS_Store
  .gitignore
  DevNotes.md
  Gemfile.next.lock
  app/views/reviews/_show.html.erb
  tash show -p stash@{0}
  test/.DS_Store
  test/system/coffeeshops_test.rb
Due: rubocop

ignore install-state.gz
  .gitignore
Due: none

remove the reviews test since it is covered in the coffeeshops test
  .yarn/install-state.gz
  test/system/reviews_test.rb
Due: rubocop

baseline for rails 8 upgrade
  Gemfile
  Gemfile.lock
  Gemfile.next.lock
Due: none
