Repository jcowhigjr/yelp_search_demo: changes, and which lefthook commands are due for each by the changed paths.
All: js, rubocop

js:
  run: yarn prettier --write {staged_files} && git add {staged_files}

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

[ai] Changes for backend on issue #1096
  test/system/locales_test.rb
Due: rubocop

[ai] Changes for backend on issue #1095
  test/system/locales_test.rb
Due: rubocop

[ai] Changes for backend on issue #1094
  app/assets/stylesheets/navigation.css
  docs/language-selector-css.md
Due: none

[ai] Changes for backend on issue #1094
  app/assets/stylesheets/application.css
  app/assets/stylesheets/language-selector-example.html
  app/assets/stylesheets/language-selector.css
Due: none

[ai] Changes for backend on issue #1095
  test/integration/switch_locale_test.rb
  test/system/locales_test.rb
Due: rubocop

[ai] Changes for backend on issue #1094
  app/assets/stylesheets/navigation.css
Due: none

[ai] Changes for backend on issue #1093
  app/views/layouts/_language_selector.html.erb
Due: none

[ai] Changes for backend on issue #1092
  package.json
  test/e2e/README.md
  test/e2e/language-selector-headless.test.js
  test/e2e/language-switcher.test.js
  test/integration/switch_locale_test.rb
  test/system/locales_test.rb
Due: js, rubocop

[ai] Changes for backend on issue #1094
  app/assets/stylesheets/application.css
  app/assets/stylesheets/language-selector.css
Due: none

[ai] Changes for backend on issue #1092
  docs/ISSUE-1092-TEST-UPDATES-SUMMARY.md
  docs/language-selector-test-updates.md
  package.json
  test/e2e/language-selector-dropdown.test.js
  test/e2e/language-switcher.test.js
  test/integration/switch_locale_test.rb
  test/system/locales_test.rb
Due: js, rubocop

[ai] Changes for backend on issue #1094
  app/assets/stylesheets/application.css
  app/assets/stylesheets/language-selector.css
  app/controllers/concerns/locales.rb
  test/integration/switch_locale_test.rb
  test/system/locales_test.rb
Due: rubocop

[ai] Changes for backend on issue #1096
  README.md
  docs/github-issue-1096-implementation.md
  test/e2e/README.md
  test/e2e/language-switcher.test.js
Due: js

[ai] Changes for backend on issue #1094
  app/assets/stylesheets/application.css
  app/assets/stylesheets/language-selector.css
  docs/language-selector-css.md
Due: none

Add test coverage and non-brittle system test guidelines to AGENTS.md
  AGENTS.md
Due: none

Reference agent-coder-workflow.md as primary starting workflow
  AGENTS.md
Due: none

Add core documentation changes to non-trivial changes list
  AGENTS.md
Due: none

Feature/test coverage guidelines (#1130)
  AGENTS.md
Due: none

[ai] Changes for backend on issue #1093
  app/javascript/controllers/dropdown_controller.js
  app/views/layouts/_language_selector.html.erb
  app/views/layouts/application.html.erb
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/pt-BR.yml
  config/locales/th.yml
Due: js

[ai] Changes for backend on issue #1094
  app/assets/stylesheets/application.css
  app/assets/stylesheets/language-selector.css
  app/views/layouts/_language_selector_example.html.erb
  docs/language-selector-css.md
Due: none

[ai] Changes for backend on issue #1137
  .gitignore
  app/assets/stylesheets/application.css
  app/assets/stylesheets/auth.css
  app/assets/stylesheets/coffeeshop-card.css
  app/assets/stylesheets/coffeeshop-detail.css
  app/assets/stylesheets/design-tokens.css
  app/assets/stylesheets/navigation.css
  app/assets/stylesheets/static.scss
  app/assets/stylesheets/theme.css
  app/assets/tailwind/application.css
  app/javascript/controllers/theme_controller.js
  docs/issue-1137-summary.md
  package.json
  playwright.config.js
  test/integration/layouts_test.rb
  test/playwright/README.md
  test/playwright/language-selector.spec.js
  test/system/locales_test.rb
  yarn.lock
Due: js, rubocop

Path conditions:
  js: any of: *.{js,ts}
  rubocop: any of: *.rb, but not: application.rb|routes.rb
