Repository jcowhigjr/yelp_search_demo: changes, and which lefthook commands are due for each by the changed paths.
All: js, rubocop

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
pre-push:
  pre-command: git stash
  commands:
    test-next:
      tags: backend
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup-next &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` HEADLESS=true CUPRITE=true APP_HOST='127.0.0.1' next rails test
    packages-audit:
      tags: frontend security
      run: yarn audit
    gems-audit:
      tags: backend security
      run: bundle audit update && bundle audit check
    javascript-audit:
      tags: frontend security
      run: yarn audit
    importmaps-audit:
      tags: frontend security
      run: bin/importmap audit
    rubocop:
      tags: backend style
      files: git diff --name-only master
      glob: '*.rb'
      run: bundle exec rubocop --force-exclusion -A {files}
    brakeman:
      tags: backend security
      run: bundle exec brakeman --no-pager
    rails-tests:
      tags: backend tests
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` CUPRITE=true bin/rails test:system

pre-commit:
  parallel: true
  commands:
    js:
      glob: '*.{js,ts}'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    rubocop:
      tags: backend style
      glob: '*.rb'
      exclude: 'application.rb|routes.rb'
      run: bundle exec rubocop --force-exclusion {all_files}
    erb-lint:
      tags: frontend style
      files: git diff --name-only master
      glob: '*.erb'
      run: bundle exec erblint --lint-all {staged_files}
    rails-tests:
      tags: backend tests
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` CUPRITE=true bin/rails test
fixer:
  parallel: true
  commands:
    ruby-fixer:
      run: bundle exec rubocop --force-exclusion -A {all_files}
    js-fixer:
      glob: 'app/javascript/**.{js,ts,jsx,tsx}'
      run: yarn prettier --write {all_files}
    ruby-prettier:
      glob: 'app/**/*.rb'
      run: bundle exec rbprettier --write {files}
    erblint:
      run: bundle exec erblint --autocorrect --lint-all {all_files}
    brakeman:
      # the pager was causing the tests to fail in parallel
      run: bundle exec brakeman --no-pager
    packages-audit:
      tags: frontend security
      run: yarn audit
    gems-audit:
      tags: backend security
      run: bundle audit update && bundle audit check
    next-test:
      tags: backend
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup-next &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` HEADLESS=true CUPRITE=true APP_HOST='127.0.0.1' next rails test:all
    i18n-tasks:
      run: bundle exec i18n-tasks health en missing unused ||
        bundle exec i18n-tasks normalize
    javascript-audit:
      tags: frontend security
      run: yarn upgrade
    importmaps-audit:
      tags: frontend security
      run: bin/importmap outdated
# scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run
#     "any.py":
#       runner: python
#     "any.rb":
#       runner: ruby
#     "any.sh":
#       runner: bash

chore: add pre-commit SQL portability check hook (#2977)
  lefthook.yml
Due: none

chore: add pre-commit SQL portability check hook (#2977) (#2978)
  lefthook.yml
Due: none

Fix #2965: deduplicate production smoke failure issues
  .github/workflows/production-smoke-check.yml
Due: none

Fix #2965: deduplicate production smoke failure issues (#2980)
  .github/workflows/production-smoke-check.yml
Due: none

fix(ci): stop duplicate CI runs on Dependabot branches
  .github/workflows/main.yml
Due: none

fix(ci): stop duplicate CI runs on Dependabot branches (#2982)
  .github/workflows/main.yml
Due: none

test: refresh footer language e2e selectors
  test/e2e/language-switcher.test.js
Due: js

test: restore locale coverage in language e2e
  test/e2e/language-switcher.test.js
Due: js

Test footer language E2E against current design (#2986)
  test/e2e/language-switcher.test.js
Due: js

[ai] Changes for coder on issue #1044
  mise.lock
Due: none

[ai] Changes for coder on issue #1044 (#2991)
  mise.lock
Due: none

Add daily repo health sweep and /daily-repo-check supervisor workflow
  .github/workflows/daily-repo-health.yml
  .windsurf/workflows/daily-repo-check.md
Due: none

Polish results card action hierarchy
  app/assets/stylesheets/coffeeshop-card.css
  app/views/coffeeshops/_coffeeshop_card.html.erb
  test/controllers/searches_controller_test.rb
  test/support/detail_favorite_helper.rb
  test/system/coffeeshops_test.rb
Due: rubocop

Polish results card action hierarchy (#2998)
  app/assets/stylesheets/coffeeshop-card.css
  app/views/coffeeshops/_coffeeshop_card.html.erb
  test/controllers/searches_controller_test.rb
  test/support/detail_favorite_helper.rb
  test/system/coffeeshops_test.rb
Due: rubocop

Add daily repo health sweep and /daily-repo-check supervisor workflow (#2997)
  .github/workflows/daily-repo-health.yml
  .windsurf/workflows/daily-repo-check.md
Due: none

Fix results card action cascade
  app/assets/stylesheets/coffeeshop-card.css
  app/views/coffeeshops/_coffeeshop_card.html.erb
  test/controllers/searches_controller_test.rb
Due: rubocop

Fix results card action cascade (#3000)
  app/assets/stylesheets/coffeeshop-card.css
  app/views/coffeeshops/_coffeeshop_card.html.erb
  test/controllers/searches_controller_test.rb
Due: rubocop

feat: add Antigravity/Gemini AI entrypoint optimization and multi-model review
  .agents/.gitignore
  .agents/hooks.json
  .agents/rules/model-refresher.md
  .agents/rules/rails-quality.md
  .agents/scripts/model_check.py
  .agents/skills/model-refresher/SKILL.md
  .agents/skills/multi-model-review/SKILL.md
  .gitignore
  AGENTS.md
  GEMINI.md
  agent.prompt.yml
  docs/ai-review-pathways-guide.md
  docs/gemini-3.8-user-prompting-guide.md
Due: none

feat: add Antigravity/Gemini AI entrypoint optimization and multi-model review (#3004)
  .agents/.gitignore
  .agents/hooks.json
  .agents/rules/model-refresher.md
  .agents/rules/rails-quality.md
  .agents/scripts/model_check.py
  .agents/skills/model-refresher/SKILL.md
  .agents/skills/multi-model-review/SKILL.md
  .gitignore
  AGENTS.md
  GEMINI.md
  agent.prompt.yml
  docs/ai-review-pathways-guide.md
  docs/gemini-3.8-user-prompting-guide.md
Due: none

fix: unblock agent-config pushes and harden the git-safety guard
  .agents/scripts/model_check.py
  .agents/scripts/test_model_check.py
  lefthook.yml
  scripts/should-run-system-tests.sh
Due: none

fix: keep blanket pathspecs forbidden after a `--` separator
  .agents/scripts/model_check.py
  .agents/scripts/test_model_check.py
Due: none

fix: unblock agent-config pushes and harden the git-safety guard (#3009)
  .agents/scripts/model_check.py
  .agents/scripts/test_model_check.py
  lefthook.yml
  scripts/should-run-system-tests.sh
Due: none

fix: ignore installer symlinks created inside the repo
  .gitignore
  scripts/install-agent-skills.sh
Due: none

feat: add harness-neutral groom-backlog skill and roadmap artifact
  .agents/skills/groom-backlog/SKILL.md
  .claude/skills/groom-backlog/SKILL.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  WARP.md
  docs/ROADMAP.md
  scripts/install-agent-skills.sh
  scripts/should-run-system-tests.sh
Due: none

feat: add harness-neutral groom-backlog skill and roadmap artifact (#3010)
  .agents/skills/groom-backlog/SKILL.md
  .claude/skills/groom-backlog/SKILL.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  WARP.md
  docs/ROADMAP.md
  scripts/install-agent-skills.sh
  scripts/should-run-system-tests.sh
Due: none

docs: accept a local MCP/CLI review when its provenance is auditable
  .agents/scripts/test_verify_review_provenance.py
  .agents/scripts/verify_review_provenance.py
  docs/AGENTS.md
  docs/reviews/2026-09-06-local-review-provenance.md
  docs/reviews/TEMPLATE.md
  lefthook.yml
Due: none

feat: enforce review provenance in CI, and make escalation a valid outcome
  .agents/scripts/test_verify_review_provenance.py
  .agents/scripts/verify_review_provenance.py
  .github/workflows/review-provenance.yml
  docs/AGENTS.md
  docs/reviews/2026-09-06-local-review-provenance.md
  docs/reviews/TEMPLATE.md
Due: none

docs: state that review records are spot-checked manually
  docs/AGENTS.md
  docs/reviews/2026-09-06-local-review-provenance.md
  docs/reviews/TEMPLATE.md
Due: none

docs: accept a local MCP/CLI review when its provenance is auditable (#3011)
  .agents/scripts/test_verify_review_provenance.py
  .agents/scripts/verify_review_provenance.py
  .github/workflows/review-provenance.yml
  docs/AGENTS.md
  docs/reviews/2026-09-06-local-review-provenance.md
  docs/reviews/TEMPLATE.md
  lefthook.yml
Due: none

[ai] Changes for coder on issue #1044
  nonexistent.txt
Due: none

[ai] Changes for coder on issue #1044 (#3012)
  nonexistent.txt
Due: none

fix: repair Daily Repo Health findings sweep (#3003)
  .github/workflows/daily-repo-health.yml
  scripts/daily-repo-health-findings.sh
  test/fixtures/files/fake_gh_daily_health.sh
  test/scripts/daily_repo_health_findings_test.rb
  test/support/gh_stub_helpers.rb
Due: rubocop

fix: bounded fresh-state recheck for queued auto-merge PRs (#3003)
  .github/workflows/auto-update-prs.yml
  scripts/auto-update-prs.sh
  test/fixtures/files/fake_gh_auto_update_prs.sh
  test/integration/dependabot_workflow_configuration_test.rb
  test/scripts/auto_update_prs_test.rb
Due: rubocop

fix: address independent review findings on workflow repair (#3003)
  .github/workflows/daily-repo-health.yml
  mise.lock
  mise.toml
  scripts/auto-update-prs.sh
  test/fixtures/files/fake_gh_auto_update_prs.sh
  test/fixtures/files/fake_gh_daily_health.sh
  test/scripts/auto_update_prs_test.rb
  test/scripts/daily_repo_health_findings_test.rb
  test/support/gh_stub_helpers.rb
Due: rubocop

test: extract auto-update stub helpers into test/support (#3003)
  test/scripts/auto_update_prs_test.rb
  test/support/auto_update_stub_helpers.rb
Due: rubocop

docs: record independent review for workflow repair (#3003)
  docs/reviews/2026-09-17-daily-repo-health-repair.md
Due: none

fix: repair Daily Repo Health sweep and bound auto-merge state recheck (#3003) (#3014)
  .github/workflows/auto-update-prs.yml
  .github/workflows/daily-repo-health.yml
  docs/reviews/2026-09-17-daily-repo-health-repair.md
  mise.lock
  mise.toml
  scripts/auto-update-prs.sh
  scripts/daily-repo-health-findings.sh
  test/fixtures/files/fake_gh_auto_update_prs.sh
  test/fixtures/files/fake_gh_daily_health.sh
  test/integration/dependabot_workflow_configuration_test.rb
  test/scripts/auto_update_prs_test.rb
  test/scripts/daily_repo_health_findings_test.rb
  test/support/auto_update_stub_helpers.rb
  test/support/gh_stub_helpers.rb
Due: rubocop

fix: update stale Font Awesome SRI hash on cdnjs stylesheet (#3016)
  app/views/layouts/application.html.erb
  docs/reviews/2026-09-18-fa-sri-hash-repair.md
  test/system/font_awesome_delivery_test.rb
Due: rubocop

fix: keep bin/dev alive via tailwindcss:watch[always]; unify on gem compiler (#3017, #3018)
  Makefile
  Procfile.dev
  WARP.md
  bun.lockb
  docs/reviews/2026-09-18-tailwind-watch-repair.md
  package.json
  test/integration/dev_workflow_configuration_test.rb
Due: rubocop

fix: require watch[always] arg in tailwind_enforce_config regex
  Makefile
Due: none
