Repository jcowhigjr/yelp_search_demo: changes, and which lefthook commands are due for each by the changed paths.
All: js, rubocop

js:
  run: yarn prettier --write {staged_files} && git add {staged_files}

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

Fix ambiguous search button click in coffeeshop system test
  test/system/coffeeshops_test.rb
Due: rubocop

Align search hero, search bar, and results cards with design prototype
  app/views/coffeeshops/_coffeeshop.html.erb
  app/views/searches/_form.html.erb
  app/views/searches/_results.html.erb
  app/views/searches/new.html.erb
  test/controllers/searches_controller_test.rb
Due: rubocop

Align search & results UI with Website Design Improvement prototype (#1003)
  app/services/bad_ruby_service.rb
  app/views/coffeeshops/_coffeeshop.html.erb
  app/views/searches/_form.html.erb
  app/views/searches/_results.html.erb
  app/views/searches/new.html.erb
  test/controllers/searches_controller_test.rb
  test/system/coffeeshops_test.rb
Due: rubocop

Align coffeeshop detail and favorites UI with design prototype
  app/views/coffeeshops/show.html.erb
  app/views/users/show.html.erb
  test/system/coffeeshops_test.rb
  test/system/simple_favorite_test.rb
Due: rubocop

Align coffeeshop detail & favorites UI with Website Design Improvement prototype (#1004)
  app/views/coffeeshops/show.html.erb
  app/views/users/show.html.erb
  test/system/coffeeshops_test.rb
  test/system/simple_favorite_test.rb
Due: rubocop

Add theme toggle and align auth forms with design prototype
  app/javascript/controllers/theme_controller.js
  app/views/layouts/application.html.erb
  app/views/sessions/new.html.erb
  app/views/users/new.html.erb
  test/system/theme_toggle_test.rb
Due: js, rubocop

Polish navigation and footer to align with design prototype
  app/assets/stylesheets/application.css
  app/views/layouts/_footer.html.erb
  app/views/layouts/_navbar.html.erb
Due: none

Polish navigation and footer to align with design prototype (#1005)
  app/assets/stylesheets/application.css
  app/views/layouts/_footer.html.erb
  app/views/layouts/_navbar.html.erb
Due: none

Update CSS compilation test to match new dark mode selector strategy
  test/integration/css_compilation_test.rb
Due: rubocop

Fix dark mode theme toggle: support data-theme attribute in CSS variables and Tailwind variant
  app/assets/tailwind/application.css
Due: none

Add theme toggle and align auth forms with Website Design Improvement prototype (#1007)
  app/assets/tailwind/application.css
  app/javascript/controllers/theme_controller.js
  app/views/layouts/application.html.erb
  app/views/sessions/new.html.erb
  app/views/users/new.html.erb
  test/integration/css_compilation_test.rb
  test/system/theme_toggle_test.rb
Due: js, rubocop

Add AGENTS.md and align multi-agent config docs
  AGENTS.md
  CLAUDE.md
  WARP.md
  docs/AGENTS.md
Due: none

Clarify AGENTS.md/CLAUDE.md per Claude review
  AGENTS.md
  CLAUDE.md
Due: none

Fix Tailwind dark variant ordering for data-theme
  app/assets/tailwind/application.css
Due: none

Add AGENTS.md and align multi-agent config docs (#1011)
  AGENTS.md
  CLAUDE.md
  WARP.md
  app/assets/tailwind/application.css
  docs/AGENTS.md
Due: none

Add Website Design Improvement prototype to gitignore
  .gitignore
Due: none

Add stacked PR tooling and merge-queue workflow
  .github/workflows/merge-queue.yml
  .gitignore
  app/models/coffeeshop.rb
  docs/git-workflow.md
  lefthook.yml
  mise.toml
  scripts/stacked-pr.sh
  test/controllers/searches_controller_test.rb
Due: rubocop

Add stacked PR tooling and merge-queue workflow (#1013)
  .github/workflows/merge-queue.yml
  .gitignore
  app/models/coffeeshop.rb
  docs/git-workflow.md
  lefthook.yml
  mise.toml
  scripts/stacked-pr.sh
  test/controllers/searches_controller_test.rb
Due: rubocop

Add CLI smoke tests for stacked-pr.sh and wire into CI
  .github/workflows/main.yml
  mise.toml
  scripts/stacked-pr.sh
Due: none

Speed up Cuprite system tests and align mise test-system
  mise.toml
  test/system/dark_mode_test.rb
  test/system/debug_favorite_test.rb
  test/system/favorite_toggle_test.rb
  test/system/navigation_test.rb
  test/system/searches_test.rb
Due: rubocop

Stabilize Cuprite system tests and remove unused geolocation setup
  test/application_system_test_case.rb
  test/system/favorite_toggle_test.rb
  test/system/navigation_test.rb
Due: rubocop

Add strict system test task with JS errors enabled
  mise.toml
Due: none

Stabilize stacked-pr helper and system tests for pre-push
  scripts/stacked-pr.sh
  test/scripts/stacked_pr_cli_test.sh
  test/system/dark_mode_test.rb
  test/system/searches_test.rb
Due: rubocop

Stop tracking built Tailwind CSS artifact
  app/assets/builds/tailwind.css
Due: none

feature/stacked pr cli tests (#1014)
  .github/workflows/main.yml
  app/assets/builds/tailwind.css
  mise.toml
  scripts/stacked-pr.sh
  test/application_system_test_case.rb
  test/scripts/stacked_pr_cli_test.sh
  test/system/dark_mode_test.rb
  test/system/debug_favorite_test.rb
  test/system/favorite_toggle_test.rb
  test/system/navigation_test.rb
  test/system/searches_test.rb
Due: rubocop

Path conditions:
  js: any of: *.{js,ts}
  rubocop: any of: *.rb, but not: application.rb|routes.rb
