Repository jcowhigjr/yelp_search_demo: changes, and which lefthook commands are due for each by the changed paths.
All: js, rubocop

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
pre-push:
  pre-command: git stash
  commands:
    test-next:
      tags: backend
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup-next &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` HEADLESS=true CUPRITE=true APP_HOST='127.0.0.1' next rails test
    packages-audit:
      tags: frontend security
      run: yarn audit
    gems-audit:
      tags: backend security
      run: bundle audit update && bundle audit check
    javascript-audit:
      tags: frontend security
      run: yarn audit
    importmaps-audit:
      tags: frontend security
      run: bin/importmap audit
    rubocop:
      tags: backend style
      files: git diff --name-only master
      glob: '*.rb'
      run: bundle exec rubocop --force-exclusion -A {files}
    brakeman:
      tags: backend security
      run: bundle exec brakeman --no-pager
    rails-tests:
      tags: backend tests
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` CUPRITE=true bin/rails test:system

pre-commit:
  parallel: true
  commands:
    js:
      glob: '*.{js,ts}'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    rubocop:
      tags: backend style
      glob: '*.rb'
      exclude: 'application.rb|routes.rb'
      run: bundle exec rubocop --force-exclusion {all_files}
    erb-lint:
      tags: frontend style
      files: git diff --name-only master
      glob: '*.erb'
      run: bundle exec erblint --lint-all {staged_files}
    rails-tests:
      tags: backend tests
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` CUPRITE=true bin/rails test
fixer:
  parallel: true
  commands:
    ruby-fixer:
      run: bundle exec rubocop --force-exclusion -A {all_files}
    js-fixer:
      glob: 'app/javascript/**.{js,ts,jsx,tsx}'
      run: yarn prettier --write {all_files}
    ruby-prettier:
      glob: 'app/**/*.rb'
      run: bundle exec rbprettier --write {files}
    erblint:
      run: bundle exec erblint --autocorrect --lint-all {all_files}
    brakeman:
      # the pager was causing the tests to fail in parallel
      run: bundle exec brakeman --no-pager
    packages-audit:
      tags: frontend security
      run: yarn audit
    gems-audit:
      tags: backend security
      run: bundle audit update && bundle audit check
    next-test:
      tags: backend
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup-next &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` HEADLESS=true CUPRITE=true APP_HOST='127.0.0.1' next rails test:all
    i18n-tasks:
      run: bundle exec i18n-tasks health en missing unused ||
        bundle exec i18n-tasks normalize
    javascript-audit:
      tags: frontend security
      run: yarn upgrade
    importmaps-audit:
      tags: frontend security
      run: bin/importmap outdated
# scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run
#     "any.py":
#       runner: python
#     "any.rb":
#       runner: ruby
#     "any.sh":
#       runner: bash

UI: Convert search bar to horizontal layout (#1721)
  app/assets/stylesheets/search-bar.css
  app/javascript/controllers/search_form_controller.js
  app/views/searches/_form.html.erb
Due: js

Simulated Warp execution for issue #1232
  .ai-task-coder-warp.txt
Due: none

Simulated Warp execution for issue #1232 (#1724)
  .ai-task-coder-warp.txt
Due: none

Simulated Warp execution for issue #1232 (#1734)
  .ai-task-coder-warp.txt
Due: none

Improve anonymous search GUI
  app/assets/stylesheets/coffeeshop-card.css
  app/assets/stylesheets/search-bar.css
  app/assets/stylesheets/searches.scss
  app/views/coffeeshops/_coffeeshop_card.html.erb
  app/views/searches/_form.html.erb
  app/views/searches/_results.html.erb
  app/views/searches/new.html.erb
  test/system/searches_test.rb
Due: rubocop

Fix deployed search page styles
  app/assets/stylesheets/application.css
  app/assets/stylesheets/searches.css
Due: none

Improve anonymous search GUI and results presentation (#1736)
  app/assets/stylesheets/application.css
  app/assets/stylesheets/coffeeshop-card.css
  app/assets/stylesheets/search-bar.css
  app/assets/stylesheets/searches.css
  app/assets/stylesheets/searches.scss
  app/views/coffeeshops/_coffeeshop_card.html.erb
  app/views/searches/_form.html.erb
  app/views/searches/_results.html.erb
  app/views/searches/new.html.erb
  test/system/searches_test.rb
Due: rubocop

Document autonomous design loop workflow
  docs/website-design-improvement/README.md
  docs/website-design-improvement/agents-playbook.md
  docs/website-design-improvement/design-loop.md
  docs/website-design-improvement/implementation-plan.md
Due: none

fix: align copilot review flow and worktree-safe git sync
  .github/copilot-instructions.md
  docs/AGENTS.md
  docs/claude-agent-integration.md
  pr_compliance_comment.md
  scripts/git-sync.sh
  scripts/should-run-system-tests.sh
Due: none

fix: address git-sync worktree review feedback
  scripts/git-sync.sh
Due: none

docs: address design loop review feedback
  docs/website-design-improvement/README.md
  docs/website-design-improvement/design-loop.md
Due: none

Document autonomous design loop workflow (#1738)
  docs/website-design-improvement/README.md
  docs/website-design-improvement/agents-playbook.md
  docs/website-design-improvement/design-loop.md
  docs/website-design-improvement/implementation-plan.md
Due: none

Polish coffeeshop card meta layout
  app/assets/stylesheets/coffeeshops.scss
  app/views/coffeeshops/_coffeeshop.html.erb
  test/controllers/searches_controller_test.rb
Due: rubocop

Fix pre-push style checks for clean branches
  app/views/coffeeshops/_coffeeshop.html.erb
  lefthook.yml
  test/controllers/searches_controller_test.rb
Due: rubocop

Polish search results masthead hierarchy
  app/assets/stylesheets/searches.css
  app/views/searches/_results.html.erb
  test/controllers/searches_controller_test.rb
Due: rubocop

Refactor search controller test setup fixture
  test/controllers/searches_controller_test.rb
Due: rubocop

Fix review flow docs and worktree-safe git sync (#1739)
  .github/copilot-instructions.md
  docs/AGENTS.md
  docs/claude-agent-integration.md
  pr_compliance_comment.md
  scripts/git-sync.sh
  scripts/should-run-system-tests.sh
Due: none

UI: tighten results masthead hierarchy (#1743)
  app/assets/stylesheets/searches.css
  app/views/searches/_results.html.erb
  test/controllers/searches_controller_test.rb
Due: rubocop

Refine results card contact and action density
  app/assets/stylesheets/coffeeshop-card.css
  app/views/coffeeshops/_coffeeshop_card.html.erb
  test/controllers/searches_controller_test.rb
Due: rubocop

Add long-session session-retro contract
  AGENTS.md
Due: none

Make session-retro guidance portable
  AGENTS.md
Due: none

Agent autonomy: add long-session session-retro contract (#1753)
  AGENTS.md
Due: none
