Repository jcowhigjr/yelp_search_demo: changes, and which lefthook commands are due for each by the changed paths.
All: js, rubocop

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
pre-push:
  commands:
    packages-audit:
      tags: frontend security
      run: yarn audit
    gems-audit:
      tags: backend security
      run: bundle audit update && bundle audit check
    javascript-audit:
      tags: frontend security
      run: yarn audit
    importmaps-audit:
      tags: frontend security
      run: bin/importmap audit
    rubocop:
      tags: backend style
      files: git diff --name-only master
      glob: '*.rb'
      run: bundle exec rubocop --force-exclusion -A {files}
    brakeman:
      tags: backend security
      run: bundle exec brakeman --no-pager
    rails-tests:
      tags: backend tests
      run: RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
           RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
           RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` CUPRITE=true bin/rails test:all

pre-commit:
  parallel: true
  commands:
    js:
      glob: '*.{js,ts}'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    rubocop:
      tags: backend style
      glob: '*.rb'
      exclude: 'application.rb|routes.rb'
      run: bundle exec rubocop --force-exclusion {all_files}
    erb-lint:
      tags: frontend style
      files: git diff --name-only master
      glob: '*.erb'
      run: bundle exec erblint --lint-all {files}
    # brakeman:
    #   tags: backend security
    #   run: bundle exec brakeman --no-pager
    rails-tests:
      tags: backend tests
      run: RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
           RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
           RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` CUPRITE=true bin/rails test:all
    # i18n-tasks:
    #   run: bundle exec i18n-tasks health en
fixer:
  parallel: true
  commands:
    ruby-fixer:
      run: bundle exec rubocop --force-exclusion -A {all_files}
    js-fixer:
      glob: 'app/javascript/**.{js,ts,jsx,tsx}'
      run: yarn prettier --write {all_files}
    ruby-prettier:
      glob: 'app/**/*.rb'
      run: bundle exec rbprettier --write {files}
    erblint:
      run: bundle exec erblint --autocorrect --lint-all {all_files}
    brakeman:
      # the pager was causing the tests to fail in parallel
      run: bundle exec brakeman --no-pager
    packages-audit:
      tags: frontend security
      run: yarn audit
    gems-audit:
      tags: backend security
      run: bundle audit update && bundle audit check
    rails-tests:
      tags: backend tests
      run: RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
           RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
           RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` HEADLESS=true CUPRITE=true APP_HOST='127.0.0.1' bin/rails test:all
    i18n-tasks:
      run: bundle exec i18n-tasks health en missing unused
    javascript-audit:
      tags: frontend security
      run: yarn upgrade
    importmaps-audit:
      tags: frontend security
      run: bin/importmap outdated

# scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run
#     "any.py":
#       runner: python
#     "any.rb":
#       runner: ruby
#     "any.sh":
#       runner: bash

feature/new feature (#593)
  .gitignore
Due: none

adjusted system test config to work in the docker environment
  .env.test.local
  test/application_system_test_case.rb
Due: rubocop

WIP: Temporary commit to bypass CI checks.
  Gemfile
  app/controllers/application_controller.rb
  app/helpers/flipper_helper.rb
  app/views/layouts/application.html.erb
  config/application.rb
  config/boot.rb
  config/environments/development.rb
  config/initializers/debug_load_order.rb
  config/initializers/debug_stack.rb
  config/initializers/flipper.rb
  config/initializers/flipper_middleware.rb
  db/seeds.rb
  static-analysis.datadog.yml
  test/system/enabled_features_test.rb
  test/test_helper.rb
Due: rubocop

working flipper feature test with the memory adapater in test
  config/initializers/flipper.rb
  test/system/disabled_features_test.rb
  test/system/enabled_features_test.rb
  test/test_helper.rb
Due: rubocop

reverted locales changes
  app/views/layouts/application.html.erb
  config/application.rb
Due: none

added enabled locales test
  test/system/locales_test.rb
Due: rubocop

more cleanu
  db/seeds.rb
Due: rubocop

remove logging and improve locales test
  config/initializers/flipper_middleware.rb
Due: rubocop

remove logging and improve locales test
  app/helpers/flipper_helper.rb
  config/initializers/debug_load_order.rb
  test/system/disabled_features_test.rb
  test/system/locales_test.rb
Due: rubocop

cuprite setup that works in containers and on my mac
  test/application_system_test_case.rb
Due: rubocop

bugfix/fix flipper pstore (#598)
  .env.test.local
  Gemfile
  app/controllers/application_controller.rb
  app/helpers/flipper_helper.rb
  config/boot.rb
  config/environments/development.rb
  config/initializers/debug_load_order.rb
  config/initializers/debug_stack.rb
  config/initializers/flipper.rb
  static-analysis.datadog.yml
  test/application_system_test_case.rb
  test/system/disabled_features_test.rb
  test/system/locales_test.rb
Due: rubocop

bugfix/fix flipper pstore (#598)
  Gemfile
  app/controllers/application_controller.rb
  app/helpers/flipper_helper.rb
  config/boot.rb
  config/environments/development.rb
  config/initializers/debug_load_order.rb
  config/initializers/debug_stack.rb
  config/initializers/flipper.rb
  static-analysis.datadog.yml
  test/application_system_test_case.rb
  test/system/disabled_features_test.rb
  test/system/locales_test.rb
Due: rubocop

minor rubocop fixes
  .gitignore
  config/boot.rb
  config/environments/development.rb
  test/system/disabled_features_test.rb
  test/system/locales_test.rb
Due: rubocop

wip: adds test and code to update gemfile.next.lock based on a git diff
  .github/workflows/dependabot.next.yml
  lib/gem_update.rb
  test/fixtures/gemfile_lock_diff_fixture.txt
  test/lib/gem_update_test.rb
Due: rubocop

Add documentation for upgrading to Rails 8.0
  UPGRADE_TO_RAILS_8.0.md
Due: none

keep slite3 at 2.0
  Gemfile
  Gemfile.lock
  Gemfile.next.lock
Due: none

Shorten logging statement in development.rb to comply with RuboCop standards.
  config/boot.rb
  config/environments/development.rb
  test/system/disabled_features_test.rb
  test/system/locales_test.rb
Due: rubocop

Upgrade gems and fix configuration issues
  Gemfile.lock
  config/application.rb
  config/environments/production.rb
Due: rubocop

Fix i18n issues and update sqlite3 version
  config/locales/en.yml
Due: none

upgrade ruby and remove no longer needed database environment variables
  .env.development
  .env.test.local
  .github/workflows/main.yml
  .gitignore
  .ruby-version
  Gemfile
  Gemfile.lock
  Gemfile.next.lock
  lefthook.yml
Due: none

updating lefthook to test next on push
  lefthook.yml
Due: none

rails 8 requires sqlite >= 2.1
  Gemfile
  Gemfile.next.lock
Due: none

fun with cursor
  .cursorignore
  .cursorrules
  app/views/coffeeshops/new.html.erb
  config/boot.rb
  lib/gem_update.rb
  test/integration/coffeeshop_creation_test.rb
  test/lib/gem_update_test.rb
  test/system/disabled_features_test.rb
  test/system/locales_test.rb
  vendor/javascript/@fortawesome--fontawesome-free.js
  yarn.lock
Due: js, rubocop

remove workflow because it is causing failures
  .github/workflows/auto-merge.yml
Due: none

remove workflow because it is causing failures (#655)
  .github/workflows/auto-merge.yml
Due: none

removed network idle which seemed to work in ci but not locally && changed standard view to mobile for now
  .env.test.local
  test/application_system_test_case.rb
  test/system/disabled_features_test.rb
  test/system/locales_test.rb
  test/system/navigation_test.rb
  test/system/searches_test.rb
Due: rubocop

restored some fixes for slowness on my laptop at a coffeeshop
  config/boot.rb
  config/environments/development.rb
  config/locales/en.yml
  lefthook.yml
  system-test-log.log
  test/application_system_test_case.rb
  test/system/navigation_test.rb
  test/system/searches_test.rb
  yarn.lock
Due: rubocop

fix deprecation warning and fix a failure in next version of tests
  .erb_lint.yml
  Gemfile.next.lock
  bin/check
  lefthook.yml
  test/application_system_test_case.rb
  test/system/searches_test.rb
Due: rubocop

we are testing mobile first
  test/system/reviews_test.rb
Due: rubocop

fixing another slow rendering issue with tests
  test/system/navigation_test.rb
  test/system/reviews_test.rb
  test/system/searches_test.rb
Due: rubocop

one of these changes I think helped fix lefthook run fixer. it was always failing with a timeout Ferrum::TimeoutError: Timed out waiting for response.
  .env.test.local
  lefthook.yml
Due: none

add a catch to fix the yaml mistakes
  Gemfile
  Gemfile.lock
  lefthook.yml
Due: none

updated Gemfile for yammlint
  Gemfile
  Gemfile.next.lock
Due: none

trying to get the ruby fixer to run all the tests without failing
  lefthook.yml
Due: none
