Repository jcowhigjr/yelp_search_demo: changes, and which lefthook commands are due for each by the changed paths.
All: js, rubocop

js:
  run: yarn prettier --write {staged_files} && git add {staged_files}

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

Add compact language selector and update locale tests
  app/assets/stylesheets/application.css
  app/assets/stylesheets/language-selector.css
  app/javascript/controllers/language_selector_controller.js
  app/views/layouts/_footer.html.erb
  app/views/layouts/_language_selector.html.erb
  app/views/layouts/application.html.erb
  test/e2e/language-switcher.test.js
  test/integration/layouts_test.rb
  test/playwright/language-selector.spec.js
  test/system/locales_test.rb
Due: js, rubocop

[ai] Changes for backend on issue #1137
  app/assets/stylesheets/application.css
  app/assets/stylesheets/language-selector.css
  app/views/layouts/_footer.html.erb
Due: none

[ai] Changes for backend on issue #1044
  VERSION
  lib/jitter/version.rb
Due: rubocop

[ai] Changes for backend on issue #1044
  VERSION
  lib/jitter/version.rb
  test/initializers/app_version_test.rb
Due: rubocop

[ai] Changes for backend on issue #1134
  Gemfile
Due: none

[ai] Changes for backend on issue #1149
  AGENTS.md
Due: none

[ai] Changes for backend on issue #1149 (#1150)
  AGENTS.md
Due: none

[ai] Changes for backend on issue #1151
  test/test_helper.rb
Due: rubocop

[ai] Changes for backend on issue #1134
  Gemfile
  Gemfile.lock
Due: none

[ai] Changes for backend on issue #1134 (#1154)
  Gemfile
  Gemfile.lock
Due: none

[ai] Changes for backend on issue #1151 (#1156)
  test/test_helper.rb
Due: rubocop

[ai] Changes for backend on issue #1137
  docs/language-selector-ac5-implementation.md
  package.json
  playwright.config.js
  test/e2e/PLAYWRIGHT_README.md
  test/e2e/language-selector-integration.spec.js
  test/system/locales_test.rb
  yarn.lock
Due: js, rubocop

[ai] Changes for backend on issue #1077
  app/views/searches/_form.html.erb
Due: none

Fix system test environment variable configuration
  test/test_helper.rb
Due: rubocop

Fix system test environment variable configuration (#1177)
  test/test_helper.rb
Due: rubocop

Phase 1: Remove language links from footer
  app/views/layouts/_footer.html.erb
  test/integration/switch_locale_test.rb
  test/system/enabled_features_test.rb
  test/system/locales_test.rb
Due: rubocop

Phase 1: Remove language links from footer (#1178)
  app/views/layouts/_footer.html.erb
  test/integration/switch_locale_test.rb
  test/system/enabled_features_test.rb
  test/system/locales_test.rb
Due: rubocop

Phase 2: Add navbar language selector with dropdown UI
  app/assets/stylesheets/navigation.css
  app/helpers/application_helper.rb
  app/javascript/controllers/language_selector_controller.js
  app/views/layouts/_navbar.html.erb
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/pt-BR.yml
Due: js, rubocop

[ai] Changes for backend on issue #1137
  app/views/layouts/_footer.html.erb
Due: none

Add missing Thai early-access translation
  config/locales/th.yml
Due: none

[DRAFT] Fix #1137 (#1182)
  app/views/layouts/_footer.html.erb
  config/locales/th.yml
Due: none

Path conditions:
  js: any of: *.{js,ts}
  rubocop: any of: *.rb, but not: application.rb|routes.rb
