Repository jcowhigjr/yelp_search_demo: changes, and which lefthook commands are due for each by the changed paths.
All: js, rubocop

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
pre-push:
  pre-command: git stash
  commands:
    test-next:
      tags: backend
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup-next &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` HEADLESS=true CUPRITE=true APP_HOST='127.0.0.1' next rails test
    packages-audit:
      tags: frontend security
      run: yarn audit
    gems-audit:
      tags: backend security
      run: bundle audit update && bundle audit check
    javascript-audit:
      tags: frontend security
      run: yarn audit
    importmaps-audit:
      tags: frontend security
      run: bin/importmap audit
    rubocop:
      tags: backend style
      files: git diff --name-only master
      glob: '*.rb'
      run: bundle exec rubocop --force-exclusion -A {files}
    brakeman:
      tags: backend security
      run: bundle exec brakeman --no-pager
    rails-tests:
      tags: backend tests
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` CUPRITE=true bin/rails test:system

pre-commit:
  parallel: true
  commands:
    js:
      glob: '*.{js,ts}'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    rubocop:
      tags: backend style
      glob: '*.rb'
      exclude: 'application.rb|routes.rb'
      run: bundle exec rubocop --force-exclusion {all_files}
    erb-lint:
      tags: frontend style
      files: git diff --name-only master
      glob: '*.erb'
      run: bundle exec erblint --lint-all {staged_files}
    rails-tests:
      tags: backend tests
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` CUPRITE=true bin/rails test
fixer:
  parallel: true
  commands:
    ruby-fixer:
      run: bundle exec rubocop --force-exclusion -A {all_files}
    js-fixer:
      glob: 'app/javascript/**.{js,ts,jsx,tsx}'
      run: yarn prettier --write {all_files}
    ruby-prettier:
      glob: 'app/**/*.rb'
      run: bundle exec rbprettier --write {files}
    erblint:
      run: bundle exec erblint --autocorrect --lint-all {all_files}
    brakeman:
      # the pager was causing the tests to fail in parallel
      run: bundle exec brakeman --no-pager
    packages-audit:
      tags: frontend security
      run: yarn audit
    gems-audit:
      tags: backend security
      run: bundle audit update && bundle audit check
    next-test:
      tags: backend
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup-next &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` HEADLESS=true CUPRITE=true APP_HOST='127.0.0.1' next rails test:all
    i18n-tasks:
      run: bundle exec i18n-tasks health en missing unused ||
        bundle exec i18n-tasks normalize
    javascript-audit:
      tags: frontend security
      run: yarn upgrade
    importmaps-audit:
      tags: frontend security
      run: bin/importmap outdated
# scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run
#     "any.py":
#       runner: python
#     "any.rb":
#       runner: ruby
#     "any.sh":
#       runner: bash

Simulated Warp execution for issue #1221 (#1798)
  .ai-task-coder-warp.txt
Due: none

Simulated Warp execution for issue #1221
  .ai-task-coder-warp.txt
Due: none

Simulated Warp execution for issue #1744
  .ai-task-coder-warp.txt
Due: none

Simulated Warp execution for issue #1744 (#1802)
  .ai-task-coder-warp.txt
Due: none

Enhance delivery agent instructions and responsibilities
  .github/agents/delivery.agent.md
Due: none

Fix claude-review CI by using GITHUB_TOKEN instead of OIDC
  .github/workflows/claude-code-review.yml
Due: none

Simulated Warp execution for issue #1221 (#1807)
  .ai-task-coder-warp.txt
Due: none

Add auto-review prompt and split into two jobs
  .github/workflows/claude-code-review.yml
Due: none

Fix #1786: run deploy gate on workflow_run (#1787)
  .github/workflows/main.yml
Due: none

Add Claude auto-review workflow for PRs
  .github/workflows/claude-code-review.yml
Due: none

Fix SQL syntax bug and simplify Review model
  app/models/review.rb
Due: rubocop

Add nil-safety and fix validation bypass in Coffeeshop
  app/models/coffeeshop.rb
Due: rubocop

Simulated Warp execution for issue #1744 (#1811)
  .ai-task-coder-warp.txt
Due: none

UI: add inline geolocation status chip to search form
  app/assets/stylesheets/search-bar.css
  app/javascript/controllers/geolocation_controller.js
  app/views/searches/_form.html.erb
  test/controllers/searches_controller_test.rb
  test/system/searches_test.rb
Due: js, rubocop

Test: factor geolocation status pattern for readability
  test/system/searches_test.rb
Due: rubocop

Style: satisfy rubocop in geolocation system test
  test/system/searches_test.rb
Due: rubocop

Test: tolerate browser-safe maps redirect in mobile journey
  test/system/mobile_user_journey_test.rb
Due: rubocop

Style: use %r regex literal in mobile journey test
  test/system/mobile_user_journey_test.rb
Due: rubocop

Simulated Warp execution for issue #1221 (#1816)
  .ai-task-coder-warp.txt
Due: none
