Repository jcowhigjr/yelp_search_demo: changes, and which lefthook commands are due for each by the changed paths.
All: js, rubocop

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
pre-push:
  pre-command: git stash
  commands:
    test-next:
      tags: backend
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup-next &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` HEADLESS=true CUPRITE=true APP_HOST='127.0.0.1' next rails test
    packages-audit:
      tags: frontend security
      run: yarn audit
    gems-audit:
      tags: backend security
      run: bundle audit update && bundle audit check
    javascript-audit:
      tags: frontend security
      run: yarn audit
    importmaps-audit:
      tags: frontend security
      run: bin/importmap audit
    rubocop:
      tags: backend style
      files: git diff --name-only master
      glob: '*.rb'
      run: bundle exec rubocop --force-exclusion -A {files}
    brakeman:
      tags: backend security
      run: bundle exec brakeman --no-pager
    rails-tests:
      tags: backend tests
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` CUPRITE=true bin/rails test:system

pre-commit:
  parallel: true
  commands:
    js:
      glob: '*.{js,ts}'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    rubocop:
      tags: backend style
      glob: '*.rb'
      exclude: 'application.rb|routes.rb'
      run: bundle exec rubocop --force-exclusion {all_files}
    erb-lint:
      tags: frontend style
      files: git diff --name-only master
      glob: '*.erb'
      run: bundle exec erblint --lint-all {staged_files}
    rails-tests:
      tags: backend tests
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` CUPRITE=true bin/rails test
fixer:
  parallel: true
  commands:
    ruby-fixer:
      run: bundle exec rubocop --force-exclusion -A {all_files}
    js-fixer:
      glob: 'app/javascript/**.{js,ts,jsx,tsx}'
      run: yarn prettier --write {all_files}
    ruby-prettier:
      glob: 'app/**/*.rb'
      run: bundle exec rbprettier --write {files}
    erblint:
      run: bundle exec erblint --autocorrect --lint-all {all_files}
    brakeman:
      # the pager was causing the tests to fail in parallel
      run: bundle exec brakeman --no-pager
    packages-audit:
      tags: frontend security
      run: yarn audit
    gems-audit:
      tags: backend security
      run: bundle audit update && bundle audit check
    next-test:
      tags: backend
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup-next &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` HEADLESS=true CUPRITE=true APP_HOST='127.0.0.1' next rails test:all
    i18n-tasks:
      run: bundle exec i18n-tasks health en missing unused ||
        bundle exec i18n-tasks normalize
    javascript-audit:
      tags: frontend security
      run: yarn upgrade
    importmaps-audit:
      tags: frontend security
      run: bin/importmap outdated
# scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run
#     "any.py":
#       runner: python
#     "any.rb":
#       runner: ruby
#     "any.sh":
#       runner: bash

Add Tailwind dark-mode safety checks and pre-push verification (#978)
  README.md
  docs/AGENTS.md
  lefthook.yml
  scripts/verify-tailwind-build.sh
  test/integration/css_compilation_test.rb
  test/views/coffeeshops_card_test.rb
Due: rubocop

Fix white cards in dark mode by using Tailwind dark: classes
  app/assets/builds/tailwind.css
  app/views/coffeeshops/_coffeeshop.html.erb
  docs/AGENTS.md
  test/views/coffeeshops_card_test.rb
Due: rubocop

Fix dark-mode coffeeshop cards in production (#979)
  Procfile.dev
  app/assets/builds/tailwind.css
  app/assets/stylesheets/application.css
  app/assets/stylesheets/coffeeshops.scss
  app/assets/tailwind/application.css
  app/views/coffeeshops/_coffeeshop.html.erb
  bin/dev
  docs/AGENTS.md
  test/views/coffeeshops_card_test.rb
Due: rubocop

Fix dark-mode coffeeshop cards in production (#979) (#980)
  Procfile.dev
  app/assets/builds/tailwind.css
  app/assets/stylesheets/application.css
  app/assets/stylesheets/coffeeshops.scss
  app/assets/tailwind/application.css
  app/views/coffeeshops/_coffeeshop.html.erb
  bin/dev
  docs/AGENTS.md
  test/views/coffeeshops_card_test.rb
Due: rubocop

Refine cross-model escalation helper, reminder hook, and docs
  .gitignore
  docs/AGENTS.md
  lefthook.yml
  scripts/generate-cross-model-prompt.sh
Due: none

Escape command substitution in cross-model reminder output
  lefthook.yml
Due: none

Refine cross-model escalation helper, reminder hook, and docs (#983)
  .gitignore
  docs/AGENTS.md
  lefthook.yml
  scripts/generate-cross-model-prompt.sh
Due: none

feat: add headless visual verification workflow (Issue #982)
  README.md
  WARP.md
  agent.prompt.yml
  docs/AGENTS.md
  docs/pr-workflow.md
  package.json
  scripts/visual-verification.js
  yarn.lock
Due: js

chore: track headless visual verification prompt (Issue #982)
  .github/prompts/headless-visual-verification.prompt.md
  .gitignore
Due: none

docs: require addressing and resolving visual workflow issues (Issue #982)
  docs/AGENTS.md
  docs/pr-workflow.md
Due: none

fix: import puppeteer via ESM and codex workflow rules (Issue #982)
  docs/AGENTS.md
  docs/pr-workflow.md
  scripts/visual-verification.js
Due: js

feat: add headless visual verification workflow (Issue #982) (#984)
  .github/prompts/headless-visual-verification.prompt.md
  .gitignore
  README.md
  WARP.md
  agent.prompt.yml
  docs/AGENTS.md
  docs/pr-workflow.md
  package.json
  scripts/visual-verification.js
  yarn.lock
Due: js

feat: add Claude planning and CSS review helpers (Issue #981)
  docs/AGENTS.md
  lefthook.yml
  scripts/ai-css-review.sh
Due: none

chore: make ai-css-review helper executable
  scripts/ai-css-review.sh
Due: none

feat: add Claude planning and CSS review helpers (Issue #981) (#989)
  docs/AGENTS.md
  lefthook.yml
  scripts/ai-css-review.sh
Due: none

feat: enforce review loop and auto-merge workflow
  WARP.md
  docs/pr-completion-workflow.md
  docs/review-first-autopilot.md
  lefthook.yml
  scripts/enforce-review-loop.sh
  scripts/pr-completion-check.sh
  scripts/resolve-all-threads.sh
  scripts/resolve-thread.sh
Due: none

fix: emit empty blockers array in PR completion JSON
  scripts/pr-completion-check.sh
Due: none

feat: enforce review loop and auto-merge workflow
  scripts/pr-completion-check.sh
Due: none

fix: treat empty reviewDecision as no approval requirement
  scripts/pr-completion-check.sh
Due: none

feat: enforce review loop and auto-merge workflow (#990)
  WARP.md
  docs/pr-completion-workflow.md
  docs/review-first-autopilot.md
  lefthook.yml
  scripts/enforce-review-loop.sh
  scripts/pr-completion-check.sh
  scripts/resolve-all-threads.sh
  scripts/resolve-thread.sh
Due: none

Ensure coffeeshop titles follow dark mode colors
  app/assets/builds/tailwind.css
  app/assets/stylesheets/application.css
  app/assets/stylesheets/coffeeshops.scss
  app/assets/tailwind/application.css
  test/system/dark_mode_test.rb
Due: rubocop

Fix dark mode coffeeshop text colors (#991)
  app/assets/builds/tailwind.css
  app/assets/stylesheets/application.css
  app/assets/stylesheets/coffeeshops.scss
  app/assets/tailwind/application.css
  test/system/dark_mode_test.rb
Due: rubocop

Fix shop-info panel dark mode styling
  app/assets/stylesheets/coffeeshops.scss
  app/views/coffeeshops/show.html.erb
  test/system/dark_mode_test.rb
Due: rubocop

Fix shop-info panel dark mode styling (#993)
  app/assets/stylesheets/coffeeshops.scss
  app/views/coffeeshops/show.html.erb
  test/system/dark_mode_test.rb
Due: rubocop

Fix icon colors and user greeting text for dark mode
  app/assets/stylesheets/application.css
  app/views/coffeeshops/show.html.erb
  app/views/users/show.html.erb
Due: none
