Repository jcowhigjr/yelp_search_demo: changes, and which lefthook commands are due for each by the changed paths.
All: js, rubocop

js:
  run: yarn prettier --write {staged_files} && git add {staged_files}

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

Add pre-push hook to enforce UI testing evidence
  lefthook.yml
Due: none

Fix: Check each commit individually for UI testing evidence
  lefthook.yml
Due: none

Add navbar language selector with 5-locale support (#1194)
  AGENTS.md
  app/assets/stylesheets/navigation.css
  app/helpers/application_helper.rb
  app/javascript/controllers/language_selector_controller.js
  app/views/layouts/_navbar.html.erb
  app/views/layouts/application.html.erb
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/pt-BR.yml
  config/locales/th.yml
  lefthook.yml
  scripts/check-pr-status.sh
Due: js, rubocop

[ai] Changes for frontend on issue #1197
  app/controllers/reviews_controller.rb
  app/views/reviews/_edit_form.html.erb
  app/views/reviews/_form.html.erb
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/pt-BR.yml
  config/locales/th.yml
  test/controllers/reviews_controller_test.rb
  test/models/review_test.rb
Due: rubocop

[ai] Changes for backend on issue #1197
  app/models/restaurant.rb
  db/migrate/20251208214255_create_restaurants.rb
  db/schema.rb
  test/models/restaurant_test.rb
Due: rubocop

[ai] Changes for frontend on issue #1197
  app/controllers/reviews_controller.rb
  app/views/coffeeshops/show.html.erb
  app/views/reviews/_edit_form.html.erb
  app/views/reviews/_form.html.erb
  test/controllers/reviews_controller_test.rb
Due: rubocop

[ai] Changes for backend on issue #1197
  app/models/restaurant.rb
  db/migrate/20251208225052_create_restaurants.rb
  db/schema.rb
  test/fixtures/restaurants.yml
  test/models/restaurant_test.rb
Due: rubocop

[ai] Changes for frontend on issue #1168
  docs/yelp_api_stub_audit.md
  docs/yelp_api_stub_quick_reference.md
Due: none

[ai] Changes for backend on issue #1168
  test/system/navigation_test.rb
  test/system/searches_test.rb
Due: rubocop

[ai] Changes for frontend on issue #1165
  test/support/system_test_helpers.rb
  test/system/mobile_view_test.rb
Due: rubocop

[ai] Changes for backend on issue #1165
  test/application_system_test_case.rb
  test/support/system_test_helpers.rb
  test/system/mobile_user_journey_test.rb
Due: rubocop

[ai] Changes for frontend on issue #1168
  docs/yelp_api_stub_usage.md
Due: none

[ai] Changes for frontend on issue #1191
  docs/issue-1191.md
Due: none

[ai] Changes for backend on issue #1191
  Gemfile.next.lock
Due: none

[ai] Changes for backend on issue #1169
  test/test_helper.rb
Due: rubocop

[ai] Changes for frontend on issue #1169
  app/controllers/searches_controller.rb
  test/controllers/searches_controller_test.rb
  test/system/searches_test.rb
Due: rubocop

[ai] Changes for frontend on issue #1170
  test/support/yelp_api_helper.rb
Due: rubocop

[ai] Changes for backend on issue #1170
  docs/TESTING.md
Due: none

[ai] Changes for backend on issue #1197
  app/models/review.rb
  test/models/review_test.rb
Due: rubocop

Fix geolocation bug #1201 - button not updating search location
  app/javascript/controllers/geolocation_controller.js
  app/views/searches/_form.html.erb
  test/system/searches_test.rb
Due: js, rubocop

Fix CodeQL security issues in geolocation controller
  app/javascript/controllers/geolocation_controller.js
Due: js

Add ruby plugin source to mise config
  mise.toml
Due: none

Add retry and fallback installer for mise setup
  bin/setup-environment.sh
Due: none

Refresh mise before installs and restore Ruby version
  bin/setup-environment.sh
  mise.toml
Due: none

[ai] Changes for coder on issue #1196
  app/javascript/controllers/language_selector_controller.js
Due: js

Simplify geolocation: remove button, revert to auto-geolocate on page load
  app/javascript/controllers/geolocation_controller.js
  app/views/searches/_form.html.erb
  test/system/searches_test.rb
Due: js, rubocop

Ensure Ruby plugin installation uses asdf-ruby
  bin/setup-environment.sh
  mise.toml
Due: none

Fix MobileUserJourneyTest - remove click on removed my_location button
  test/system/mobile_user_journey_test.rb
Due: rubocop

Fix geolocation bug #1201 - button not updating search location (#1210)
  app/javascript/controllers/geolocation_controller.js
  app/views/searches/_form.html.erb
  test/system/mobile_user_journey_test.rb
  test/system/searches_test.rb
Due: js, rubocop

[ai] Changes for coder on issue #1211
  .pr-workflow.yml
Due: none

Add debugging and delay to fix mobile geolocation
  app/javascript/controllers/geolocation_controller.js
Due: js

[ai] Changes for coder on issue #1211
  lefthook.yml
Due: none

Fix mobile geolocation with debugging and delay (#1223)
  .pr-workflow.yml
  app/javascript/controllers/geolocation_controller.js
Due: js

Path conditions:
  js: any of: *.{js,ts}
  rubocop: any of: *.rb, but not: application.rb|routes.rb
