Repository jcowhigjr/yelp_search_demo: changes, and which lefthook commands are due for each by the changed paths.
All: js, rubocop

js:
  run: yarn prettier --write {staged_files} && git add {staged_files}

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

Bump VERSION to 0.2.0 for Phase 1 deployment - Issue #1048 (#1054)
  VERSION
  lib/jitter/version.rb
Due: rubocop

Phase 0 - Add design tokens mapping documentation
  docs/design-tokens-mapping.md
Due: none

Phase 1 - Implement search hero and SearchBar styling in Rails
  app/assets/stylesheets/application.css
  app/assets/stylesheets/design-tokens.css
  app/assets/stylesheets/search-bar.css
  app/views/searches/_form.html.erb
  app/views/searches/new.html.erb
  config/locales/en.yml
  test/system/searches_test.rb
Due: rubocop

Phase 2 - Results grid and reusable coffeeshop card partial
  app/assets/stylesheets/application.css
  app/assets/stylesheets/coffeeshop-card.css
  app/views/coffeeshops/_coffeeshop_card.html.erb
  app/views/searches/_results.html.erb
  app/views/searches/show.html.erb
Due: none

Phase 3 - Coffeeshop detail page layout and primary actions
  app/assets/stylesheets/application.css
  app/assets/stylesheets/coffeeshop-detail.css
  app/views/coffeeshops/show.html.erb
  app/views/reviews/_rating_stars.html.erb
Due: none

Phase 3 - Fix test compatibility and maintain existing functionality
  app/views/coffeeshops/show.html.erb
Due: none

Phase 4 - Favorites page layout and empty state
  app/assets/stylesheets/application.css
  app/assets/stylesheets/favorites.css
  app/views/users/show.html.erb
Due: none

Phase 5 - Navigation and footer styling
  app/assets/stylesheets/application.css
  app/assets/stylesheets/navigation.css
  app/views/layouts/_footer.html.erb
  app/views/layouts/_navbar.html.erb
Due: none

Phase 6 - Theme toggle and dark mode foundation
  app/assets/stylesheets/application.css
  app/assets/stylesheets/design-tokens.css
  app/assets/stylesheets/theme.css
  app/javascript/controllers/theme_controller.js
  app/views/layouts/application.html.erb
Due: js

Fix test failure - add truncate class back to address link
  app/views/coffeeshops/show.html.erb
Due: none

Fix system tests - add required h2.page-name and 'Your favorite spots:' text
  app/views/users/show.html.erb
Due: none

Fix navbar structure to work with Materialize sidenav and address review feedback
  app/views/layouts/_navbar.html.erb
Due: none

Update system tests to work with new Materialize sidenav navigation
  test/system/sessions/login_test.rb
  test/system/sessions/logout_test.rb
  test/system/users_test.rb
Due: rubocop

Fix navbar structure and address review feedback
  app/views/layouts/_navbar.html.erb
  app/views/users/new.html.erb
Due: none

Update system tests to reflect prototype improvements
  docs/WEBSITE_DESIGN_STRATEGY.md
  docs/website-design-improvement/implementation-plan.md
  test/system/coffeeshops_test.rb
  test/system/navigation_test.rb
  test/system/searches_test.rb
  test/system/simple_favorite_test.rb
  test/system/theme_toggle_test.rb
Due: rubocop

Implement feature icons and enhanced empty states
  app/views/users/show.html.erb
  test/system/searches_test.rb
  test/system/simple_favorite_test.rb
Due: rubocop

Fix failing system tests
  app/views/users/show.html.erb
Due: none

Fix critical regression: Restore Yelp icon and brand color compliance
  app/views/coffeeshops/show.html.erb
Due: none

Add Font Awesome CDN and update Yelp compliance tests
  app/views/layouts/application.html.erb
  test/system/coffeeshops_test.rb
Due: rubocop

Fix merge conflict artifacts in test files
  test/system/searches_test.rb
  test/system/simple_favorite_test.rb
Due: rubocop

Phase 6b - Login/signup forms (#1040) (#1061)
  app/assets/stylesheets/application.css
  app/assets/stylesheets/auth.css
  app/assets/stylesheets/coffeeshop-card.css
  app/assets/stylesheets/coffeeshop-detail.css
  app/assets/stylesheets/design-tokens.css
  app/assets/stylesheets/favorites.css
  app/assets/stylesheets/navigation.css
  app/assets/stylesheets/search-bar.css
  app/assets/stylesheets/theme.css
  app/javascript/controllers/theme_controller.js
  app/views/coffeeshops/_coffeeshop_card.html.erb
  app/views/coffeeshops/show.html.erb
  app/views/layouts/_footer.html.erb
  app/views/layouts/_navbar.html.erb
  app/views/layouts/application.html.erb
  app/views/reviews/_rating_stars.html.erb
  app/views/searches/_form.html.erb
  app/views/searches/_results.html.erb
  app/views/searches/new.html.erb
  app/views/searches/show.html.erb
  app/views/sessions/new.html.erb
  app/views/users/new.html.erb
  app/views/users/show.html.erb
  config/locales/en.yml
  docs/design-tokens-mapping.md
  test/system/coffeeshops_test.rb
  test/system/searches_test.rb
  test/system/sessions/login_test.rb
  test/system/sessions/logout_test.rb
  test/system/simple_favorite_test.rb
  test/system/users_test.rb
Due: js, rubocop

Remove nano as git core editor to prevent interactive commits
  README.md
Due: none

Hide non-functional feature icons on search page
  AGENTS.md
  app/views/searches/new.html.erb
  test/system/searches_test.rb
Due: rubocop

Update system tests to match hidden feature icons
  test/system/searches_test.rb
Due: rubocop

Hide non-functional feature icons on search page (#1064)
  AGENTS.md
  README.md
  app/views/searches/new.html.erb
  test/system/searches_test.rb
Due: rubocop

Fix Dependabot configuration - remove duplicate sections
  .github/dependabot.yml
Due: none

Path conditions:
  js: any of: *.{js,ts}
  rubocop: any of: *.rb, but not: application.rb|routes.rb
