Repository jcowhigjr/yelp_search_demo: changes, and which lefthook commands are due for each by the changed paths.
All: js, rubocop

js:
  run: yarn prettier --write {staged_files} && git add {staged_files}

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

test: validate lefthook and PR lifecycle automation (#809)
  .gitignore
  .lefthook.yml
  .pr-workflow.yml
  .vscode/extensions.json
  IMPLEMENTATION_SUMMARY.md
  PR_WORKFLOW_CONFIG.md
  README-pr-polling.md
  README_AUTOMATED_REVIEW.md
  __pycache__/config_manager.cpython-312.pyc
  automated_code_review.py
  bin/cli-error-handler
  bin/setup-environment.sh
  config/credentials/development.yml.enc
  config_manager.py
  crontab-example.txt
  docs/cli-error-handling.md
  docs/pr-workflow.md
  docs/visited_places_interaction_flow.md
  lefthook.yml
  lib/cli_error_handler.rb
  mcp_code_review.py
  mise.toml
  poll-pr-status.js
  poll-pr-status.sh
  pr-monitor.sh
  pr-status.log
  review_pr.sh
  scripts/README.md
  scripts/pr-lifecycle.sh
  scripts/sync-branch.sh
  test_pr_workflow_config.py
Due: js, rubocop

Fix: Stub Yelp API calls in system tests
  config/credentials/master.key
  config/credentials/test.yml.enc
  config/initializers/omniauth.rb
  test/support/coffeeshop_test_helper.rb
  test/support/oauth_test_helper.rb
  test/support/yelp_api_helper.rb
  test/system/coffeeshops_test.rb
  test/system/searches_test.rb
  test/test_helper.rb
Due: rubocop

Fix: Update Yelp API stub to match any Bearer token
  test/support/yelp_api_helper.rb
Due: rubocop

Fix: Address Copilot feedback
  config/initializers/omniauth.rb
  test/support/yelp_api_helper.rb
  test/system/coffeeshops_test.rb
  test/test_helper.rb
Due: rubocop

Fix: Address Copilot feedback
  config/initializers/omniauth.rb
  test/support/yelp_api_helper.rb
  test/test_helper.rb
Due: rubocop

Fix: Make RAILS_MASTER_KEY available to all steps in test jobs
  .github/workflows/main.yml
Due: none

Phase 1: Add YelpApiHelper module for API stubbing
  test/support/yelp_api_helper.rb
Due: rubocop

Phase 1: Add WebMock configuration to test helper
  test/test_helper.rb
Due: rubocop

Phase 2: Simplify OmniAuth initializer configuration
  config/initializers/omniauth.rb
Due: rubocop

Phase 2: Update OAuth test helper for simplified configuration
  test/support/oauth_test_helper.rb
Due: rubocop

Update Gemfile.lock after adding webmock gem
  Gemfile.lock
Due: none

Update Gemfile after adding webmock gem
  Gemfile
Due: none

Fix Minitest.configure undefined method error
  test/application_system_test_case.rb
  test/support/login_helpers.rb
  test/test_helper.rb
Due: rubocop

Fix credentials and autoload issues
  config/credentials.yml.enc
  config/credentials/development.yml.enc
  config/credentials/test.yml.enc
  lib/cli_error_handler.rb
Due: rubocop

Add Google OAuth credentials to test and development environments
  config/credentials/development.yml.enc
  config/credentials/test.yml.enc
Due: none

Fix system tests by updating YelpApiHelper and adding missing credentials
  config/credentials/test.yml.enc
  test/application_system_test_case.rb
  test/support/yelp_api_helper.rb
Due: rubocop

Phase 1: Core API Stubbing Infrastructure for Test Environment
  Gemfile
  Gemfile.lock
  config/credentials.yml.enc
  config/credentials/development.yml.enc
  config/credentials/test.yml.enc
  lib/cli_error_handler.rb
  test/application_system_test_case.rb
  test/support/login_helpers.rb
  test/support/yelp_api_helper.rb
  test/test_helper.rb
Due: rubocop

Add pre-push dependency validation hook
  lefthook.yml
Due: none

Add pre-push dependency validation hook (#824)
  lefthook.yml
Due: none

Phase 2: Extended API Stubbing Patterns
  test/application_system_test_case.rb
  test/support/README_YelpApiHelper.md
  test/support/yelp_api_helper.rb
  test/system/yelp_api_scenarios_test.rb
Due: rubocop

Fix: Dependabot auto-merge race condition
  .github/workflows/auto-approve.yml
Due: none

Fix: Switch from check_suite to status/check_run events
  .github/workflows/auto-approve.yml
Due: none

Apply suggestion from @Copilot
  .github/workflows/auto-approve.yml
Due: none

Update .github/workflows/auto-approve.yml
  .github/workflows/auto-approve.yml
Due: none

Simplify Dependabot auto-approve workflow to fix race conditions
  .github/workflows/auto-approve.yml
Due: none

Fix Dependabot Auto-Merge Race Condition (#828)
  .github/workflows/auto-approve.yml
Due: none

Improve .gitignore
  .gitignore
Due: none

Path conditions:
  js: any of: *.{js,ts}
  rubocop: any of: *.rb, but not: application.rb|routes.rb
