Repository jcowhigjr/yelp_search_demo: changes, and which lefthook commands are due for each by the changed paths.
All: js, rubocop

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
pre-push:
  pre-command: git stash
  commands:
    test-next:
      tags: backend
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup-next &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` HEADLESS=true CUPRITE=true APP_HOST='127.0.0.1' next rails test
    packages-audit:
      tags: frontend security
      run: yarn audit
    gems-audit:
      tags: backend security
      run: bundle audit update && bundle audit check
    javascript-audit:
      tags: frontend security
      run: yarn audit
    importmaps-audit:
      tags: frontend security
      run: bin/importmap audit
    rubocop:
      tags: backend style
      files: git diff --name-only master
      glob: '*.rb'
      run: bundle exec rubocop --force-exclusion -A {files}
    brakeman:
      tags: backend security
      run: bundle exec brakeman --no-pager
    rails-tests:
      tags: backend tests
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` CUPRITE=true bin/rails test:system

pre-commit:
  parallel: true
  commands:
    js:
      glob: '*.{js,ts}'
      run: yarn prettier --write {staged_files} && git add {staged_files}
    rubocop:
      tags: backend style
      glob: '*.rb'
      exclude: 'application.rb|routes.rb'
      run: bundle exec rubocop --force-exclusion {all_files}
    erb-lint:
      tags: frontend style
      files: git diff --name-only master
      glob: '*.erb'
      run: bundle exec erblint --lint-all {staged_files}
    rails-tests:
      tags: backend tests
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/rails test:prepare --trace &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` CUPRITE=true bin/rails test
fixer:
  parallel: true
  commands:
    ruby-fixer:
      run: bundle exec rubocop --force-exclusion -A {all_files}
    js-fixer:
      glob: 'app/javascript/**.{js,ts,jsx,tsx}'
      run: yarn prettier --write {all_files}
    ruby-prettier:
      glob: 'app/**/*.rb'
      run: bundle exec rbprettier --write {files}
    erblint:
      run: bundle exec erblint --autocorrect --lint-all {all_files}
    brakeman:
      # the pager was causing the tests to fail in parallel
      run: bundle exec brakeman --no-pager
    packages-audit:
      tags: frontend security
      run: yarn audit
    gems-audit:
      tags: backend security
      run: bundle audit update && bundle audit check
    next-test:
      tags: backend
      run: CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` bin/setup-next &&
        CI=true RAILS_ENV=test RAILS_MASTER_KEY=`cat config/credentials/test.key` HEADLESS=true CUPRITE=true APP_HOST='127.0.0.1' next rails test:all
    i18n-tasks:
      run: bundle exec i18n-tasks health en missing unused ||
        bundle exec i18n-tasks normalize
    javascript-audit:
      tags: frontend security
      run: yarn upgrade
    importmaps-audit:
      tags: frontend security
      run: bin/importmap outdated
# scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run
#     "any.py":
#       runner: python
#     "any.rb":
#       runner: ruby
#     "any.sh":
#       runner: bash

Fix mobile geolocation with debugging and delay (#1223)
  .pr-workflow.yml
  app/javascript/controllers/geolocation_controller.js
Due: js

[ai] Changes for coder on issue #1197
  VERSION
Due: none

Align Yelp API stubs with search terms
  test/application_system_test_case.rb
  test/system/coffeeshops_test.rb
  test/system/navigation_test.rb
  test/system/searches_test.rb
  test/system/simple_favorite_test.rb
Due: rubocop

Align Yelp API stubs with search terms (#1233)
  test/application_system_test_case.rb
  test/system/coffeeshops_test.rb
  test/system/navigation_test.rb
  test/system/searches_test.rb
  test/system/simple_favorite_test.rb
Due: rubocop

Streamline Dependabot CI fast path
  .github/workflows/auto-approve.yml
  .github/workflows/dependabot-risk-assessment.yml
  .github/workflows/main.yml
Due: none

Streamline Dependabot CI fast path (#1234)
  .github/workflows/auto-approve.yml
  .github/workflows/dependabot-risk-assessment.yml
  .github/workflows/main.yml
Due: none

Ensure mise trusts config and uses core Ruby plugin
  mise.toml
Due: none

Ensure mise trusts config and uses core Ruby plugin (#1236)
  mise.toml
Due: none

Fix dependabot behind detection in workflow
  .github/workflows/auto-approve.yml
Due: none

Fix dependabot behind detection in workflow (#1237)
  .github/workflows/auto-approve.yml
Due: none

[ai] Changes for coder on issue #1232
  VERSION
Due: none

[ai] Changes for coder on issue #1232
  VERSION
  lib/jitter/version.rb
Due: rubocop

[ai] Changes for coder on issue #1232 (#1240)
  VERSION
  lib/jitter/version.rb
Due: rubocop

[ai] Changes for coder on issue #1232 (#1242)
  VERSION
  lib/jitter/version.rb
Due: rubocop

[ai] Changes for coder on issue #1232 (#1246)
  VERSION
  lib/jitter/version.rb
Due: rubocop

[ai] Changes for coder on issue #1232 (#1248)
  VERSION
  lib/jitter/version.rb
Due: rubocop
